In [20]:
from sqlalchemy import create_engine
import pandas as pd

<h1>EXTRACT</h1>

In [21]:
# Buat koneksi ke database PostgreSQL
engine = create_engine("postgresql+psycopg2://postgres:1234567@localhost:5432/hospital_management_system")

# Ambil data dari tabel PostgreSQL
ambulance = pd.read_sql("SELECT * FROM ambulance", engine)
ambulance_log = pd.read_sql("SELECT * FROM ambulance_log", engine)
appointment = pd.read_sql("SELECT * FROM appointments", engine)
billing = pd.read_sql("SELECT * FROM billing", engine)
blood_bank = pd.read_sql("SELECT * FROM blood_bank", engine)
cleaning_service = pd.read_sql("SELECT * FROM cleaning_service", engine)
department = pd.read_sql("SELECT * FROM departments", engine)
doctor = pd.read_sql("SELECT * FROM doctors", engine)
doctor_department = pd.read_sql("SELECT * FROM doctor_department", engine)
medical_record = pd.read_sql("SELECT * FROM medical_records", engine)
medical_records_medicine = pd.read_sql("SELECT * FROM medical_records_medicine", engine)
medicine = pd.read_sql("SELECT * FROM medicine", engine)
nurse = pd.read_sql("SELECT * FROM nurses", engine)
patient = pd.read_sql("SELECT * FROM patients", engine)
pharmacy = pd.read_sql("SELECT * FROM pharmacy", engine)
prescription = pd.read_sql("SELECT * FROM prescription", engine)
room_assignment = pd.read_sql("SELECT * FROM room_assignments", engine)
room_type = pd.read_sql("SELECT * FROM room_types", engine)
room = pd.read_sql("SELECT * FROM rooms", engine)
staff = pd.read_sql("SELECT * FROM staff", engine)
worker = pd.read_sql("SELECT * FROM workers", engine)

In [22]:
print(ambulance.head())
print(ambulance_log.head())
print(appointment.head())
print(billing.head())
print(blood_bank.head())
print(cleaning_service.head())
print(department.head())
print(doctor.head())
print(doctor_department.head())
print(medical_record.head())
print(medical_records_medicine.head())
print(medicine.head())
print(nurse.head())
print(patient.head())
print(pharmacy.head())
print(prescription.head())
print(room_assignment.head())
print(room_type.head())
print(room.head())
print(staff.head())
print(worker.head())

   ambulance_id ambulance_number availability  staff_id last_service_date
0             1           AMB001      On Duty        39        2024-11-13
1             2           AMB002      On Duty        40        2023-06-05
2             3           AMB003    Available        41        2023-07-22
3             4           AMB004      On Duty        42        2024-04-18
4             5           AMB005      On Duty        43        2024-05-05
   log_id  ambulance_id  patient_id pickup_location dropoff_location  \
0       1             2        7467          kantor      rumah sakit
1       4             5        2818           rumah      rumah sakit
2       5             4        7245          kantor      rumah sakit
3       6             1        8989          kantor      rumah sakit
4       7             4         290            mall      rumah sakit

          pickup_time        dropoff_time     status
0 2023-07-28 09:38:00 2023-07-28 10:32:00  Completed
1 2023-07-13 16:20:00 2023-07-13 16:30:00  Completed
2 2024-08-29 06:11:00 2024-08-29 07:09:00  Completed
3 2023-08-07 05:43:00 2023-08-07 05:53:00  Completed
4 2024-03-30 15:36:00 2024-03-30 16:22:00  Completed
   appointment_id  patient_id  doctor_id appointment_date appointment_time  \
0               1          20          5       2023-01-02         08:00:00
1               2          39          5       2023-01-02         08:00:00
2               3          59          5       2023-01-02         08:00:00
3               4          68          5       2023-01-02         08:00:00
4               5          73          5       2023-01-02         08:00:00

                         purpose     status
0                   Hidung meler  Scheduled
1  Iritasi tenggorokan dan batuk  Scheduled
2                   Hidung meler  Scheduled
3                   Hidung meler  Scheduled
4                   Hidung meler  Scheduled
   bill_id  patient_id  appointment_id  total_amount payment_status  \
0        1          20               1      184000.0           paid
1        2          39               2      186000.0           paid
2        3          59               3      184000.0           paid
3        4          68               4      184000.0           paid
4        5          73               5      184000.0           paid

  payment_date insurance_provider
0   2023-01-06         Prudential
1   2023-01-07      Bayar Mandiri
2   2023-01-02               BPJS
3   2023-01-12           Sinarmas
4   2023-01-08      Bayar Mandiri
   blood_id blood_type  stock_quantity last_updated
0         1         A+              20   2023-10-10
1         2         A-              15   2023-10-10
2         3         B+              30   2023-10-09
3         4         B-              10   2023-10-08
4         5        AB+              25   2023-10-07
   service_id  room_id service_date service_time  staff_id  \
0           1        1   2023-01-01     13:00:00        61
1           2        2   2023-01-01     15:00:00        53
2           3        3   2023-01-01     13:00:00        57
3           4        4   2023-01-01     13:00:00        53
4           5        5   2023-01-01     09:00:00        57

                                  notes
0  Membersihkan ruangan setiap harinya.
1  Membersihkan ruangan setiap harinya.
2  Membersihkan ruangan setiap harinya.
3  Membersihkan ruangan setiap harinya.
4  Membersihkan ruangan setiap harinya.
   department_id department_name   location
0              1      Cardiology  2nd Floor
1              2       Neurology  3rd Floor
2              3     Orthopedics  4th Floor
3              4     Dermatology  1st Floor
4              5      Pediatrics  2nd Floor
   doctor_id first_name  last_name    specialty contact_number  \
0         11    Dr Agus    Santoso   Cardiology     8123456701
1         12    Dr Dewi      Putri   Cardiology     8123456702
2         13    Dr Budi     Wijaya    Neurology     8123456703
3         14    Dr Sari  Wulandari    Neurology     8123456704
4         15    Dr Joko   Prasetyo  Orthopedics     8123456705

                          email     available_schedule  consultation_fee
0      dragus.santoso@gmail.com     Monday 08:00-12:00            200000
1        drdewi.putri@yahoo.com    Tuesday 13:00-17:00            200000
2       drbudi.wijaya@gmail.com  Wednesday 08:00-12:00            185000
3  drsari.wulandari@outlook.com   Thursday 13:00-17:00            185000
4     drjoko.prasetyo@gmail.com     Friday 07:00-11:00            200000
   doctor_id  department_id
0          1              1
1          2              2
2          3              3
3          4              4
4          5              5
   record_id  patient_id  doctor_id  appointment_id diagnosis  \
0          1          20          5               1     Pilek
1          2          39          5               2     Batuk
2          3          59          5               3     Pilek
3          4          68          5               4     Pilek
4          5          73          5               5     Pilek

                      treatment      prescription
0  Antihistamin dan dekongestan        Cetirizine
1                    Obat batuk  Dextromethorphan
2  Antihistamin dan dekongestan        Cetirizine
3  Antihistamin dan dekongestan        Cetirizine
4  Antihistamin dan dekongestan        Cetirizine
   record_id  medicine_id  dosage
0          1           31  500 mg
1          2           28    5 ml
2          3           31  500 mg
3          4           31  500 mg
4          5           31  500 mg
   medicine_id           name   brand    type  dosage  stock_quantity  \
0            2    Ceftriaxone  BrandB  Liquid    5 ml            8093
1            9  Norethindrone  BrandD  Tablet  250 mg            9707
2           12    Latanoprost  BrandB  Liquid    5 ml            8638
3           14        Diosmin  BrandD  Tablet  250 mg            9837
4           17    Sumatriptan  BrandB  Tablet  250 mg            9468

  expiry_date  unit_price
0  2025-06-13       46500
1  2025-08-03        1500
2  2024-07-19       49500
3  2025-12-23        1000
4  2025-08-07        3000
   nurse_id  staff_id specialization    shift_hours
0         1         1     Cardiology  04.00 - 12.00
1         2         2     Cardiology  12.00 - 20.00
2         3         3     Cardiology  20.00 - 04.00
3         4         4      Neurology  04.00 - 12.00
4         5         5      Neurology  12.00 - 20.00
   patient_id first_name    last_name date_of_birth gender contact_number  \
0           1     Olivia      Mustofa    2012-04-23      F     8718849939
1           2      Zahra    Padmasari    2006-10-19      F     8677864703
2           3      Iqbal  Simanjuntak    1973-05-29      M     8164727650
3           4      Daffa   Hutagalung    1995-01-08      M     8822027494
4           5    Rukmini  Pudjiastuti    2007-04-12      F     8153798274

                                             address  \
0  Jl. Menur Pumpungan No. 114, Sawahan, Surabaya...
1  Jl. HR. Muhammad No. 177, Tandes, Surabaya, Ja...
2  Jl. Kenjeran No. 7, Sukolilo, Surabaya, Jawa T...
3  Jl. Raya Darmo No. 175, Sukolilo, Surabaya, Ja...
4  Jl. Mayjen Sungkono No. 175, Rungkut, Surabaya...

                             email             medical_history
0       olivia.mustofa@example.com                       Pilek
1      zahra.padmasari@example.com           Degenerasi Makula
2    iqbal.simanjuntak@example.com                Appendicitis
3     daffa.hutagalung@example.com                       Eksim
4  rukmini.pudjiastuti@example.com  Infeksi Saluran Reproduksi
   pharmacy_id  medicine_id  patient_id  quantity prescription_date  \
0            1           31          20        16        2023-01-02
1            2           28          39        21        2023-01-02
2            3           31          59        16        2023-01-02
3            4           31          68        16        2023-01-02
4            5           31          73        16        2023-01-02

   total_price
0        64000
1        66000
2        64000
3        64000
4        64000
   prescription_id  patient_id  doctor_id prescription_date medication_name  \
0                1          20          5        2023-01-02           Pilek
1                2          39          5        2023-01-02           Batuk
2                3          59          5        2023-01-02           Pilek
3                4          68          5        2023-01-02           Pilek
4                5          73          5        2023-01-02           Pilek

   dosage frequency duration                         notes
0  500 mg         2        8  Antihistamin dan dekongestan
1    5 ml         3        7                    Obat batuk
2  500 mg         2        8  Antihistamin dan dekongestan
3  500 mg         2        8  Antihistamin dan dekongestan
4  500 mg         2        8  Antihistamin dan dekongestan
   assignment_id  room_id  staff_id  patient_id assignment_date   end_date
0              1       35        13          20      2023-01-02 2023-01-02
1              2       35        13          39      2023-01-02 2023-01-02
2              3       35        13          59      2023-01-02 2023-01-02
3              4       35        13          68      2023-01-02 2023-01-02
4              5       35        13          73      2023-01-02 2023-01-02
   room_type_id      room_type_name  \
0             1         Rawat Jalan
1             2         Ruang Bedah
2             3                ICCU
3             4                 HCU
4             5  Rawat Inap Kelas 1

                                         description
0  Fasilitas untuk pasien yang tidak memerlukan r...
1  Ruangan khusus untuk tindakan operasi atau pem...
2  Intensive Cardiac Care Unit  untuk pengawasan ...
3  High Care Unit  untuk pasien yang butuh observ...
4  Kamar perawatan berisikan satu orang bagi pasi...
   room_id room_number  room_type_id  capacity     status last_serviced
0        1        RJ01             1         1   Occupied    2024-12-14
1        2        RJ02             1         1  Available    2024-12-25
2        3        RJ03             1         1  Available    2025-02-07
3        4        RB01             2         1   Occupied    2024-12-18
4        5        RB02             2         1   Occupied    2024-12-24
   staff_id first_name  last_name   role  department_id contact_number  \
0         1      Tiara  Tarihoran  Nurse              1    88239391249
1         2      Gasti    Mustofa  Nurse              1    87025072151
2         3       Maya   Najmudin  Nurse              1    85592431018
3         4    Kamaria      Utami  Nurse              2    89034383984
4         5     Hamima    Laksita  Nurse              2    85275932723

                           email  \
0   tiara.tarihoran843@yahoo.com
1   gasti.mustofa665@outlook.com
2     maya.najmudin339@yahoo.com
3     kamaria.utami607@gmail.com
4  hamima.laksita519@outlook.com

                                             address   hire_date
0  Jl. Diponegoro No. 115, Kelurahan Tegalsari, K...  2021-11-06
1  Jl. Ahmad Yani No. 49, Kelurahan Sukolilo, Kec...  2022-11-02
2  Jl. Basuki Rahmat No. 181, Kelurahan Tambaksar...  2020-06-18
3  Jl. Mayjen Sungkono No. 135, Kelurahan Genteng...  2020-08-13
4  Jl. Mayjen Sungkono No. 121, Kelurahan Tambaks...  2022-04-08
   worker_id  staff_id       job_title  work_schedule
0          1        53         cleaner  08.00 - 16.00
1          2        54  security guard  07.00 - 19.00
2          3        55         janitor  05.00 - 13.00
3          4        56            cook  05.00 - 13.00
4          5        57         cleaner  08.00 - 16.00

<h2>Data Validation</h2>

In [23]:
dataframes = {
    'ambulance': ambulance,
    'ambulance_log': ambulance_log,
    'appointment': appointment,
    'billing': billing,
    'blood_bank': blood_bank,
    'cleaning_service': cleaning_service,
    'department': department,
    'doctor': doctor,
    'doctor_department': doctor_department,
    'medical_record': medical_record,
    'medical_records_medicine': medical_records_medicine,
    'medicine': medicine,
    'nurse': nurse,
    'patient': patient,
    'pharmacy': pharmacy,
    'prescription': prescription,
    'room_assignment': room_assignment,
    'room_type': room_type,
    'room': room,
    'staff': staff,
    'worker': worker,
}

<h3>Validasi Nilai Kosong</h3>

In [24]:
print("=== VALIDASI NILAI KOSONG ===")
for name, df in dataframes.items():
    print(f"\n{name}")
    print(df.isnull().sum())

=== VALIDASI NILAI KOSONG ===

ambulance
ambulance_id         0
ambulance_number     0
availability         0
staff_id             0
last_service_date    0
dtype: int64

ambulance_log
log_id              0
ambulance_id        0
patient_id          0
pickup_location     0
dropoff_location    0
pickup_time         0
dropoff_time        0
status              0
dtype: int64

appointment
appointment_id      0
patient_id          0
doctor_id           0
appointment_date    0
appointment_time    0
purpose             0
status              0
dtype: int64

billing
bill_id               0
patient_id            0
appointment_id        0
total_amount          0
payment_status        0
payment_date          0
insurance_provider    0
dtype: int64

blood_bank
blood_id          0
blood_type        0
stock_quantity    0
last_updated      0
dtype: int64

cleaning_service
service_id      0
room_id         0
service_date    0
service_time    0
staff_id        0
notes           0
dtype: int64

department
department_id      0
department_name    0
location           0
dtype: int64

doctor
doctor_id             0
first_name            0
last_name             0
specialty             0
contact_number        0
email                 0
available_schedule    0
consultation_fee      0
dtype: int64

doctor_department
doctor_id        0
department_id    0
dtype: int64

medical_record
record_id         0
patient_id        0
doctor_id         0
appointment_id    0
diagnosis         0
treatment         0
prescription      0
dtype: int64

medical_records_medicine
record_id      0
medicine_id    0
dosage         0
dtype: int64

medicine
medicine_id       0
name              0
brand             0
type              0
dosage            0
stock_quantity    0
expiry_date       0
unit_price        0
dtype: int64

nurse
nurse_id          0
staff_id          0
specialization    0
shift_hours       0
dtype: int64

patient
patient_id         0
first_name         0
last_name          0
date_of_birth      0
gender             0
contact_number     0
address            0
email              0
medical_history    0
dtype: int64

pharmacy
pharmacy_id          0
medicine_id          0
patient_id           0
quantity             0
prescription_date    0
total_price          0
dtype: int64

prescription
prescription_id      0
patient_id           0
doctor_id            0
prescription_date    0
medication_name      0
dosage               0
frequency            0
duration             0
notes                0
dtype: int64

room_assignment
assignment_id      0
room_id            0
staff_id           0
patient_id         0
assignment_date    0
end_date           0
dtype: int64

room_type
room_type_id      0
room_type_name    0
description       0
dtype: int64

room
room_id          0
room_number      0
room_type_id     0
capacity         0
status           0
last_serviced    0
dtype: int64

staff
staff_id          0
first_name        0
last_name         0
role              0
department_id     0
contact_number    0
email             0
address           0
hire_date         0
dtype: int64

worker
worker_id        0
staff_id         0
job_title        0
work_schedule    0
dtype: int64

<h3>Validasi Tipe Data</h3>

In [25]:
print("=== VALIDASI TIPE DATA ===")
for name, df in dataframes.items():
    print(f"\n{name}")
    print(df.dtypes)

=== VALIDASI TIPE DATA ===

ambulance
ambulance_id          int64
ambulance_number     object
availability         object
staff_id              int64
last_service_date    object
dtype: object

ambulance_log
log_id                       int64
ambulance_id                 int64
patient_id                   int64
pickup_location             object
dropoff_location            object
pickup_time         datetime64[ns]
dropoff_time        datetime64[ns]
status                      object
dtype: object

appointment
appointment_id       int64
patient_id           int64
doctor_id            int64
appointment_date    object
appointment_time    object
purpose             object
status              object
dtype: object

billing
bill_id                 int64
patient_id              int64
appointment_id          int64
total_amount          float64
payment_status         object
payment_date           object
insurance_provider     object
dtype: object

blood_bank
blood_id           int64
blood_type        object
stock_quantity     int64
last_updated      object
dtype: object

cleaning_service
service_id       int64
room_id          int64
service_date    object
service_time    object
staff_id         int64
notes           object
dtype: object

department
department_id       int64
department_name    object
location           object
dtype: object

doctor
doctor_id              int64
first_name            object
last_name             object
specialty             object
contact_number        object
email                 object
available_schedule    object
consultation_fee       int64
dtype: object

doctor_department
doctor_id        int64
department_id    int64
dtype: object

medical_record
record_id          int64
patient_id         int64
doctor_id          int64
appointment_id     int64
diagnosis         object
treatment         object
prescription      object
dtype: object

medical_records_medicine
record_id       int64
medicine_id     int64
dosage         object
dtype: object

medicine
medicine_id        int64
name              object
brand             object
type              object
dosage            object
stock_quantity     int64
expiry_date       object
unit_price         int64
dtype: object

nurse
nurse_id           int64
staff_id           int64
specialization    object
shift_hours       object
dtype: object

patient
patient_id          int64
first_name         object
last_name          object
date_of_birth      object
gender             object
contact_number     object
address            object
email              object
medical_history    object
dtype: object

pharmacy
pharmacy_id           int64
medicine_id           int64
patient_id            int64
quantity              int64
prescription_date    object
total_price           int64
dtype: object

prescription
prescription_id       int64
patient_id            int64
doctor_id             int64
prescription_date    object
medication_name      object
dosage               object
frequency            object
duration             object
notes                object
dtype: object

room_assignment
assignment_id               int64
room_id                     int64
staff_id                    int64
patient_id                  int64
assignment_date    datetime64[ns]
end_date           datetime64[ns]
dtype: object

room_type
room_type_id       int64
room_type_name    object
description       object
dtype: object

room
room_id           int64
room_number      object
room_type_id      int64
capacity          int64
status           object
last_serviced    object
dtype: object

staff
staff_id           int64
first_name        object
last_name         object
role              object
department_id      int64
contact_number    object
email             object
address           object
hire_date         object
dtype: object

worker
worker_id         int64
staff_id          int64
job_title        object
work_schedule    object
dtype: object

<h3>Validasi Unik dan Duplikat</h3>

In [26]:
print("=== VALIDASI UNIK & DUPLIKAT ===")
for name, df in dataframes.items():
    print(f"\n{name}")
    id_cols = [col for col in df.columns if 'id' in col]
    for col in id_cols:
        print(f"  {col} unik?: {df[col].is_unique}")
    print(f"  Jumlah baris duplikat: {df.duplicated().sum()}")

=== VALIDASI UNIK & DUPLIKAT ===

ambulance
  ambulance_id unik?: True
  staff_id unik?: True
  Jumlah baris duplikat: 0

ambulance_log
  log_id unik?: True
  ambulance_id unik?: False
  patient_id unik?: False
  Jumlah baris duplikat: 0

appointment
  appointment_id unik?: True
  patient_id unik?: False
  doctor_id unik?: False
  Jumlah baris duplikat: 0

billing
  bill_id unik?: True
  patient_id unik?: False
  appointment_id unik?: True
  insurance_provider unik?: False
  Jumlah baris duplikat: 0

blood_bank
  blood_id unik?: True
  Jumlah baris duplikat: 0

cleaning_service
  service_id unik?: True
  room_id unik?: False
  staff_id unik?: False
  Jumlah baris duplikat: 0

department
  department_id unik?: True
  Jumlah baris duplikat: 0

doctor
  doctor_id unik?: True
  Jumlah baris duplikat: 0

doctor_department
  doctor_id unik?: True
  department_id unik?: False
  Jumlah baris duplikat: 0

medical_record
  record_id unik?: True
  patient_id unik?: False
  doctor_id unik?: False
  appointment_id unik?: True
  Jumlah baris duplikat: 0

medical_records_medicine
  record_id unik?: True
  medicine_id unik?: False
  Jumlah baris duplikat: 0

medicine
  medicine_id unik?: True
  Jumlah baris duplikat: 0

nurse
  nurse_id unik?: True
  staff_id unik?: True
  Jumlah baris duplikat: 0

patient
  patient_id unik?: True
  Jumlah baris duplikat: 0

pharmacy
  pharmacy_id unik?: True
  medicine_id unik?: False
  patient_id unik?: False
  Jumlah baris duplikat: 0

prescription
  prescription_id unik?: True
  patient_id unik?: False
  doctor_id unik?: False
  Jumlah baris duplikat: 0

room_assignment
  assignment_id unik?: True
  room_id unik?: False
  staff_id unik?: False
  patient_id unik?: False
  Jumlah baris duplikat: 0

room_type
  room_type_id unik?: True
  Jumlah baris duplikat: 0

room
  room_id unik?: True
  room_type_id unik?: False
  Jumlah baris duplikat: 0

staff
  staff_id unik?: True
  department_id unik?: False
  Jumlah baris duplikat: 0

worker
  worker_id unik?: True
  staff_id unik?: True
  Jumlah baris duplikat: 0

<h3>Validasi Format Email dan Telepon</h3>

In [27]:
print("=== VALIDASI FORMAT EMAIL & TELEPON ===")
for name, df in dataframes.items():
    print(f"\n{name}")
    for col in df.columns:
        if 'email' in col:
            invalid_email = df[~df[col].astype(str).str.contains(r"[^@]+@[^@]+\.[^@]+", na=False)]
            print(f"  {col} email tidak valid: {len(invalid_email)}")
        if 'contact_number' in col or 'telp' in col:
            invalid_phone = df[~df[col].astype(str).str.match(r'^\d{6,15}$', na=False)]
            print(f"  {col} telepon tidak valid: {len(invalid_phone)}")

=== VALIDASI FORMAT EMAIL & TELEPON ===

ambulance

ambulance_log

appointment

billing

blood_bank

cleaning_service

department

doctor
  contact_number telepon tidak valid: 0
  email email tidak valid: 0

doctor_department

medical_record

medical_records_medicine

medicine

nurse

patient
  contact_number telepon tidak valid: 0
  email email tidak valid: 0

pharmacy

prescription

room_assignment

room_type

room

staff
  contact_number telepon tidak valid: 0
  email email tidak valid: 0

worker

<h3>Validasi Nilai Terbatas : Gender</h3>

In [28]:
print("=== VALIDASI NILAI TERBATAS (GENDER) ===")
for name, df in dataframes.items():
    if 'gender' in df.columns:
        invalid_gender = df[~df['gender'].isin(['M', 'F'])]
        print(f"\n{name} → gender tidak valid: {len(invalid_gender)}")

=== VALIDASI NILAI TERBATAS (GENDER) ===

patient → gender tidak valid: 0

<h3>Validasi Relasi Antar Tabel</h3>

In [29]:
print("\n=== patient dengan appointment ===")
if 'patient' in dataframes and 'appointment' in dataframes:
    room_ids = set(dataframes['patient']['patient_id'])
    df_assign = dataframes['appointment']
    if 'patient_id' in df_assign.columns:
        missing = df_assign[~df_assign['patient_id'].isin(room_ids)]
        print(f"appointment → patient_id tidak valid: {len(missing)}")

print("\n=== doctor dengan appointment ===")
if 'doctor' in dataframes and 'appointment' in dataframes:
    room_ids = set(dataframes['doctor']['doctor_id'])
    df_assign = dataframes['appointment']
    if 'doctor_id' in df_assign.columns:
        missing = df_assign[~df_assign['doctor_id'].isin(room_ids)]
        print(f"appointment → doctor_id tidak valid: {len(missing)}")

print("\n=== patient dengan medical_record ===")
if 'patient' in dataframes and 'medical_record' in dataframes:
    room_ids = set(dataframes['patient']['patient_id'])
    df_assign = dataframes['medical_record']
    if 'patient_id' in df_assign.columns:
        missing = df_assign[~df_assign['patient_id'].isin(room_ids)]
        print(f"medical_record → patient_id tidak valid: {len(missing)}")

print("\n=== doctor dengan medical_record ===")
if 'doctor' in dataframes and 'medical_record' in dataframes:
    room_ids = set(dataframes['doctor']['doctor_id'])
    df_assign = dataframes['medical_record']
    if 'doctor_id' in df_assign.columns:
        missing = df_assign[~df_assign['doctor_id'].isin(room_ids)]
        print(f"medical_record → doctor_id tidak valid: {len(missing)}")

print("\n=== patient dengan prescription ===")
if 'patient' in dataframes and 'prescription' in dataframes:
    room_ids = set(dataframes['patient']['patient_id'])
    df_assign = dataframes['prescription']
    if 'patient_id' in df_assign.columns:
        missing = df_assign[~df_assign['patient_id'].isin(room_ids)]
        print(f"prescription → patient_id tidak valid: {len(missing)}")

print("\n=== doctor dengan prescription ===")
if 'doctor' in dataframes and 'prescription' in dataframes:
    room_ids = set(dataframes['doctor']['doctor_id'])
    df_assign = dataframes['prescription']
    if 'doctor_id' in df_assign.columns:
        missing = df_assign[~df_assign['doctor_id'].isin(room_ids)]
        print(f"prescription → doctor_id tidak valid: {len(missing)}")

print("\n=== patient dengan billing ===")
if 'patient' in dataframes and 'billing' in dataframes:
    room_ids = set(dataframes['patient']['patient_id'])
    df_assign = dataframes['billing']
    if 'patient_id' in df_assign.columns:
        missing = df_assign[~df_assign['patient_id'].isin(room_ids)]
        print(f"billing → patient_id tidak valid: {len(missing)}")

print("\n=== appointment dengan billing ===")
if 'appointment' in dataframes and 'billing' in dataframes:
    room_ids = set(dataframes['appointment']['appointment_id'])
    df_assign = dataframes['billing']
    if 'appointment_id' in df_assign.columns:
        missing = df_assign[~df_assign['appointment_id'].isin(room_ids)]
        print(f"billing → appointment_id tidak valid: {len(missing)}")

print("\n=== patient dengan pharmacy ===")
if 'patient' in dataframes and 'pharmacy' in dataframes:
    room_ids = set(dataframes['patient']['patient_id'])
    df_assign = dataframes['pharmacy']
    if 'patient_id' in df_assign.columns:
        missing = df_assign[~df_assign['patient_id'].isin(room_ids)]
        print(f"pharmacy → patient_id tidak valid: {len(missing)}")

print("\n=== medicine dengan pharmacy ===")
if 'medicine' in dataframes and 'pharmacy' in dataframes:
    room_ids = set(dataframes['medicine']['medicine_id'])
    df_assign = dataframes['pharmacy']
    if 'medicine_id' in df_assign.columns:
        missing = df_assign[~df_assign['medicine_id'].isin(room_ids)]
        print(f"pharmacy → medicine_id tidak valid: {len(missing)}")

print("\n=== room_assignment dengan room ===")
if 'room' in dataframes and 'room_assignment' in dataframes:
    room_ids = set(dataframes['room']['room_id'])
    df_assign = dataframes['room_assignment']
    if 'room_id' in df_assign.columns:
        missing = df_assign[~df_assign['room_id'].isin(room_ids)]
        print(f"room_assignment → room_id tidak valid: {len(missing)}")

=== patient dengan appointment ===
appointment → patient_id tidak valid: 0

=== doctor dengan appointment ===
appointment → doctor_id tidak valid: 0

=== patient dengan medical_record ===
medical_record → patient_id tidak valid: 0

=== doctor dengan medical_record ===
medical_record → doctor_id tidak valid: 0

=== patient dengan prescription ===
prescription → patient_id tidak valid: 0

=== doctor dengan prescription ===
prescription → doctor_id tidak valid: 0

=== patient dengan billing ===
billing → patient_id tidak valid: 0

=== appointment dengan billing ===
billing → appointment_id tidak valid: 0

=== patient dengan pharmacy ===
pharmacy → patient_id tidak valid: 0

=== medicine dengan pharmacy ===
pharmacy → medicine_id tidak valid: 0

=== room_assignment dengan room ===
room_assignment → room_id tidak valid: 0

<h3>Validasi Nilai Logis</h3>

In [30]:
print("=== TANGGAL LAHIR ===")
for name, df in dataframes.items():
    for col in df.columns:
        if 'birth' in col or 'date_of_birth' in col:
            try:
                df[col] = pd.to_datetime(df[col], errors='coerce')
                future_birth = df[df[col] > pd.Timestamp.today()]
                print(f"\n{name} → {col} lebih dari hari ini: {len(future_birth)}")
            except:
                print(f"\n{name} → kolom {col} tidak bisa di-parse sebagai datetime")

=== TANGGAL LAHIR ===

patient → date_of_birth lebih dari hari ini: 0

<h2>Data Cleaning</h2>

<h3>Menghapus Nilai Kosong</h3>

In [31]:
#prescription_date (hapus baris)
before = len(prescription)
prescription = prescription.dropna(subset=['prescription_date'])
after = len(prescription)
print(f"prescription → Hapus baris kosong prescription_date: {before - after} baris")

# fillna pada 'notes'
missing_notes_before = prescription['notes'].isnull().sum()
prescription['notes'] = prescription['notes'].fillna('')
print(f"prescription → Isi kosong di 'notes': {missing_notes_before} nilai")

# Medical Record → tanggal diagnosis biasanya penting
if 'diagnosis_date' in medical_record.columns:
    medical_record = medical_record.dropna(subset=['diagnosis_date'])

# Appointment → appointment_date juga penting
before = len(appointment)
appointment = appointment.dropna(subset=['appointment_date'])
after = len(appointment)
print(f"appointment → Hapus baris kosong appointment_date: {before - after} baris")

# Room Assignment → room_id dan patient_id wajib
before = len(room_assignment)
room_assignment = room_assignment.dropna(subset=['room_id', 'patient_id'])
after = len(room_assignment)
print(f"room_assignment → Hapus baris kosong room_id/patient_id: {before - after} baris")

# Billing → tanggal dan jumlah tagihan penting
before = len(billing)
billing = billing.dropna(subset=['payment_date', 'total_amount'])
after = len(billing)
print(f"billing → Hapus baris kosong payment_date/total_amount: {before - after} baris")

# PATIENT
before = len(patient)
patient = patient.dropna(subset=['first_name', 'date_of_birth'])
after = len(patient)
print(f"patient → Hapus baris kosong name/birth_date: {before - after} baris")

# DOCTOR phone
missing_phone_before = doctor['contact_number'].isnull().sum()
doctor['contact_number'] = doctor['contact_number'].fillna('')
print(f"doctor → Isi kosong di 'phone': {missing_phone_before} nilai")

prescription → Hapus baris kosong prescription_date: 0 baris
prescription → Isi kosong di 'notes': 0 nilai
appointment → Hapus baris kosong appointment_date: 0 baris
room_assignment → Hapus baris kosong room_id/patient_id: 0 baris
billing → Hapus baris kosong payment_date/total_amount: 0 baris
patient → Hapus baris kosong name/birth_date: 0 baris
doctor → Isi kosong di 'phone': 0 nilai

<h3>Menghapus Duplikat</h3>

In [32]:
def drop_duplicates_and_report(df, key_columns=None, name=""):
    before = len(df)
    if key_columns:
        df = df.drop_duplicates(subset=key_columns)
        print(f"{name} → Hapus duplikat berdasarkan kolom {key_columns}: {before - len(df)} baris")
    else:
        df = df.drop_duplicates()
        print(f"{name} → Hapus duplikat seluruh baris: {before - len(df)} baris")
    return df

# Contoh penggunaan:
patient = drop_duplicates_and_report(patient, ['patient_id'], "patient")
doctor = drop_duplicates_and_report(doctor, ['doctor_id'], "doctor")
department =drop_duplicates_and_report(department, ['department_id'], "department")
nurse = drop_duplicates_and_report(nurse, ['nurse_id'], "nurse")
appointment = drop_duplicates_and_report(appointment, ['appointment_id'], "appointment")
prescription = drop_duplicates_and_report(prescription, ['prescription_id'], "prescription")
billing = drop_duplicates_and_report(billing, ['bill_id'], "billing")
room_assignment = drop_duplicates_and_report(room_assignment, ['assignment_id'], "room_assignment")
room = drop_duplicates_and_report(room, ['room_id'], "room")
department = drop_duplicates_and_report(department, ['department_id'], "department")
medicine = drop_duplicates_and_report(medicine, ['medicine_id'], "medicine")
medical_record = drop_duplicates_and_report(medical_record, ['record_id'], "medical_record")
staff = drop_duplicates_and_report(staff, ['staff_id'], "staff")
pharmacy = drop_duplicates_and_report(pharmacy, ['pharmacy_id'], "pharmacy")
cleaning_service = drop_duplicates_and_report(cleaning_service, ['service_id'], "cleaning_service")
ambulance_log = drop_duplicates_and_report(ambulance_log, ['log_id'], "ambulance_log")

patient → Hapus duplikat berdasarkan kolom ['patient_id']: 0 baris
doctor → Hapus duplikat berdasarkan kolom ['doctor_id']: 0 baris
department → Hapus duplikat berdasarkan kolom ['department_id']: 0 baris
nurse → Hapus duplikat berdasarkan kolom ['nurse_id']: 0 baris
appointment → Hapus duplikat berdasarkan kolom ['appointment_id']: 0 baris
prescription → Hapus duplikat berdasarkan kolom ['prescription_id']: 0 baris
billing → Hapus duplikat berdasarkan kolom ['bill_id']: 0 baris
room_assignment → Hapus duplikat berdasarkan kolom ['assignment_id']: 0 baris
room → Hapus duplikat berdasarkan kolom ['room_id']: 0 baris
department → Hapus duplikat berdasarkan kolom ['department_id']: 0 baris
medicine → Hapus duplikat berdasarkan kolom ['medicine_id']: 0 baris
medical_record → Hapus duplikat berdasarkan kolom ['record_id']: 0 baris
staff → Hapus duplikat berdasarkan kolom ['staff_id']: 0 baris
pharmacy → Hapus duplikat berdasarkan kolom ['pharmacy_id']: 0 baris
cleaning_service → Hapus duplikat berdasarkan kolom ['service_id']: 0 baris
ambulance_log → Hapus duplikat berdasarkan kolom ['log_id']: 0 baris

<h3>Standarisasi Format Teks</h3>

In [33]:
import re

# 1. Nama → kapitalisasi judul, buang spasi
patient['first_name'] = patient['first_name'].str.strip().str.title()
patient['last_name'] = patient['last_name'].str.strip().str.title()
doctor['first_name'] = doctor['first_name'].str.strip().str.title()
doctor['last_name'] = doctor['last_name'].str.strip().str.title()
staff['first_name'] = staff['first_name'].str.strip().str.title()
staff['last_name'] = staff['last_name'].str.strip().str.title()

# 2. Gender → uppercase, normalisasi ke M/F
def normalize_gender(g):
    g = str(g).strip().upper()
    return 'M' if g in ['M', 'MALE', 'L'] else ('F' if g in ['F', 'FEMALE', 'P'] else None)

patient['gender'] = patient['gender'].apply(normalize_gender)


# 3. Email → lowercase & strip
staff['email'] = staff['email'].str.strip().str.lower()
doctor['email'] = doctor['email'].str.strip().str.lower()
staff['email'] = staff['email'].str.strip().str.lower()

# 4. Validasi format email
def is_valid_email(email):
    if pd.isnull(email): return False
    return bool(re.match(r"[^@]+@[^@]+\.[^@]+", email))

# Contoh cek yang tidak valid:
invalid_staff_email = staff[~staff['email'].apply(is_valid_email)]
print(f"staff → Email tidak valid: {len(invalid_staff_email)}")

# 5. Telepon → hapus spasi & karakter non-digit (opsional)
for df in [doctor, staff, patient]:
    if 'contact_number' in df.columns:
        df['contact_number'] = df['contact_number'].astype(str).str.replace(r'\D', '', regex=True)

# 6. Nama departemen → title case
department['depart_name'] = department['department_name'].str.strip().str.title()
room['room_number'] = room['room_number'].astype(str).str.strip().str.upper()

print("format teks dan nilai kategorikal distandarkan.")

staff → Email tidak valid: 0
format teks dan nilai kategorikal distandarkan.

<h3>Konversi Tipe Data</h3>

In [34]:
# 1. Konversi kolom tanggal → datetime (tanpa coerce)
tanggal_kolom = {
    "patient": ["date_of_birth"],
    "appointment": ["appointment_date"],
    "prescription": ["prescription_date"],
    "billing": ["payment_date"],
    "room_assignment": ["assignment_date", "end_date"],
    "ambulance_log": ["pickup_time", "dropoff_time"]
}

for df_name, columns in tanggal_kolom.items():
    for col in columns:
        try:
            globals()[df_name][col] = pd.to_datetime(globals()[df_name][col], errors='raise')
            print(f"{df_name} → Kolom {col} berhasil dikonversi ke datetime.")
        except Exception as e:
            print(f"❌ {df_name} → Gagal konversi kolom {col}: {e}")

# 2. Konversi ke numerik (tanpa coerce)
to_numeric = [
    (billing, 'total_amount'),
    (doctor, 'consultation_fee'),
    (medicine, 'unit_price'),

]

for df, col in to_numeric:
    try:
        df[col] = pd.to_numeric(df[col], errors='raise')
        print(f"{df.columns.name or df} → Kolom {col} berhasil dikonversi ke numerik.")
    except Exception as e:
        print(f"❌ Gagal konversi kolom {col}: {e}")

patient → Kolom date_of_birth berhasil dikonversi ke datetime.
appointment → Kolom appointment_date berhasil dikonversi ke datetime.
prescription → Kolom prescription_date berhasil dikonversi ke datetime.
billing → Kolom payment_date berhasil dikonversi ke datetime.
room_assignment → Kolom assignment_date berhasil dikonversi ke datetime.
room_assignment → Kolom end_date berhasil dikonversi ke datetime.
ambulance_log → Kolom pickup_time berhasil dikonversi ke datetime.
ambulance_log → Kolom dropoff_time berhasil dikonversi ke datetime.
       bill_id  patient_id  appointment_id  total_amount payment_status  \
0            1          20               1      184000.0           paid
1            2          39               2      186000.0           paid
2            3          59               3      184000.0           paid
3            4          68               4      184000.0           paid
4            5          73               5      184000.0           paid
...        ...         ...             ...           ...            ...
39111    39112         611           39112      372000.0           paid
39112    39113         615           39113      372000.0           paid
39113    39114         713           39114      335000.0           paid
39114    39115         717           39115      267500.0           paid
39115    39116         745           39116      267500.0           paid

      payment_date insurance_provider
0       2023-01-06         Prudential
1       2023-01-07      Bayar Mandiri
2       2023-01-02               BPJS
3       2023-01-12           Sinarmas
4       2023-01-08      Bayar Mandiri
...            ...                ...
39111   2025-01-04   Mandiri InHealth
39112   2025-01-01           Sinarmas
39113   2024-12-31      Bayar Mandiri
39114   2025-01-01                AIA
39115   2024-12-31      Bayar Mandiri

[39116 rows x 7 columns] → Kolom total_amount berhasil dikonversi ke numerik.
    doctor_id   first_name  last_name        specialty contact_number  \
0          11      Dr Agus    Santoso       Cardiology     8123456701
1          12      Dr Dewi      Putri       Cardiology     8123456702
2          13      Dr Budi     Wijaya        Neurology     8123456703
3          14      Dr Sari  Wulandari        Neurology     8123456704
4          15      Dr Joko   Prasetyo      Orthopedics     8123456705
5          16      Dr Maya       Sari      Orthopedics     8123456706
6          17      Dr Rina     Kusuma      Dermatology     8123456707
7          18      Dr Arif    Hidayat      Dermatology     8123456708
8          19      Dr Lina   Fauziyah       Pediatrics     8123456709
9          20      Dr Andi    Saputra       Pediatrics     8123456710
10         21      Dr Dewi  Anggraini  General Surgery     8123456711
11         22     Dr Fajar    Pratama  General Surgery     8123456712
12         23     Dr Wulan    Cahyani       Gynecology     8123456713
13         24      Dr Beni       Hadi       Gynecology     8123456714
14         25     Dr Sinta   Mahendra       Psychiatry     8123456715
15         26      Dr Rian      Putra       Psychiatry     8123456716
16         27       Dr Eka       Sari              ENT     8123456717
17         28     Dr Yudha     Wibowo              ENT     8123456718
18         29     Dr Fitri    Ningsih    Ophthalmology     8123456719
19         30      Dr Tono    Pranoto    Ophthalmology     8123456720
20          1    Dr. Alice     Miller       Cardiology        5551122
21          2      Dr. Bob   Williams        Neurology        5552233
22          3  Dr. Charlie      Brown      Orthopedics        5553344
23          4    Dr. Diana      Jones      Dermatology        5554455
24          5      Dr. Eva     Garcia       Pediatrics        5555566
25          6    Dr. Frank   Martinez  General Surgery        5556677
26          7    Dr. Grace  Rodriguez       Gynecology        5557788
27          8    Dr. Henry        Lee       Psychiatry        5558899
28          9      Dr. Ivy      Lopez    Ophthalmology        5559900
29         10     Dr. Jack      White              ENT        5551010

                           email     available_schedule  consultation_fee
0       dragus.santoso@gmail.com     Monday 08:00-12:00            200000
1         drdewi.putri@yahoo.com    Tuesday 13:00-17:00            200000
2        drbudi.wijaya@gmail.com  Wednesday 08:00-12:00            185000
3   drsari.wulandari@outlook.com   Thursday 13:00-17:00            185000
4      drjoko.prasetyo@gmail.com     Friday 07:00-11:00            200000
5          drmaya.sari@yahoo.com     Monday 13:00-17:00            200000
6      drrina.kusuma@outlook.com    Tuesday 08:00-12:00            125000
7       drarif.hidayat@gmail.com  Wednesday 13:00-17:00            125000
8      drlina.fauziyah@yahoo.com   Thursday 08:00-12:00            120000
9       drandi.saputra@gmail.com     Friday 13:30-17:30            120000
10  drdewi.anggraini@outlook.com     Monday 08:00-12:00            155000
11     drfajar.pratama@gmail.com    Tuesday 13:00-17:00            155000
12     drwulan.cahyani@yahoo.com  Wednesday 08:00-12:00            260000
13         drbeni.hadi@gmail.com   Thursday 13:00-17:00            260000
14  drsinta.mahendra@outlook.com     Friday 07:00-11:00            160000
15        drrian.putra@gmail.com     Monday 13:00-17:00            160000
16         dereka.sari@yahoo.com    Tuesday 08:00-12:00            260000
17      dryudha.wibowo@gmail.com  Wednesday 13:00-17:00            260000
18   drfitri.ningsih@outlook.com   Thursday 08:00-12:00            290000
19      drtono.pranoto@gmail.com     Friday 13:30-17:30            290000
20        alice.miller@email.com     Monday 13:00-17:00            200000
21        bob.williams@email.com    Tuesday 08:00-12:00            185000
22       charlie.brown@email.com   Thursday 08:00-12:00            200000
23         diana.jones@email.com     Friday 13:30-17:30            125000
24          eva.garcia@email.com     Monday 08:00-12:00            120000
25      frank.martinez@email.com  Wednesday 13:00-17:00            155000
26     grace.rodriguez@email.com    Tuesday 13:00-17:00            260000
27           henry.lee@email.com   Thursday 08:00-12:00            160000
28           ivy.lopez@email.com  Wednesday 08:00-12:00            290000
29          jack.white@email.com     Friday 07:00-11:00            260000   → Kolom consultation_fee berhasil dikonversi ke numerik.
    medicine_id                      name   brand     type  dosage  \
0             2               Ceftriaxone  BrandB   Liquid    5 ml
1             9             Norethindrone  BrandD   Tablet  250 mg
2            12               Latanoprost  BrandB   Liquid    5 ml
3            14                   Diosmin  BrandD   Tablet  250 mg
4            17               Sumatriptan  BrandB   Tablet  250 mg
5            22                 Ibuprofen  BrandB   Tablet  500 mg
6            24              Azithromycin  BrandD   Tablet  500 mg
7            25                Leuprolide  BrandE   Tablet  750 mg
8            26                Gabapentin  BrandA   Tablet  750 mg
9            27                    Lutein  BrandB   Tablet  500 mg
10           37  Testosterone undecanoate  BrandB  Capsule  750 mg
11           38             Ciprofloxacin  BrandC   Tablet  250 mg
12           39               Doxycycline  BrandD   Tablet  500 mg
13           42                  Naproxen  BrandB   Tablet  250 mg
14           43                  Diazepam  BrandC   Tablet  250 mg
15            1               Doxycycline  BrandA   Tablet  500 mg
16            3                Amiodarone  BrandC   Tablet  250 mg
17            4                   Lithium  BrandD   Tablet  500 mg
18            5      Prednisolone acetate  BrandE   Liquid    5 ml
19            6           Chloramphenicol  BrandA   Liquid   10 ml
20            7                Sertraline  BrandB   Tablet  250 mg
21            8            Hydrocortisone  BrandC   Liquid    5 ml
22           10             Valproic acid  BrandE   Tablet  500 mg
23           11                 Ibuprofen  BrandA   Tablet  500 mg
24           13                 Ketorolac  BrandC   Tablet  250 mg
25           15               Paracetamol  BrandE   Tablet  500 mg
26           16                Amlodipine  BrandA   Tablet  250 mg
27           18               Amoxicillin  BrandC   Tablet  250 mg
28           19                 Metformin  BrandD   Tablet  250 mg
29           20              Calcipotriol  BrandE   Liquid    5 ml
30           21                Olanzapine  BrandA   Tablet  250 mg
31           23              Levofloxacin  BrandC   Tablet  750 mg
32           28          Dextromethorphan  BrandC   Liquid    5 ml
33           29               Paracetamol  BrandD   Tablet  500 mg
34           30                Loperamide  BrandE   Tablet  750 mg
35           32                Furosemide  BrandB   Tablet  500 mg
36           33                   Aspirin  BrandC   Tablet  250 mg
37           34             Betamethasone  BrandD   Liquid    5 ml
38           36                Ketoprofen  BrandA   Tablet  250 mg
39           40               Betahistine  BrandE   Tablet  500 mg
40           41                 Meloxicam  BrandA   Tablet  750 mg
41           44              Promethazine  BrandA   Tablet   25 mg
42           35                Loratadine  BrandE   Tablet  750 mg
43           31                Cetirizine  BrandA   Tablet  500 mg

    stock_quantity expiry_date  unit_price
0             8093  2025-06-13       46500
1             9707  2025-08-03        1500
2             8638  2024-07-19       49500
3             9837  2025-12-23        1000
4             9468  2025-08-07        3000
5             9889  2024-11-25        3500
6             9546  2025-07-19        1000
7             9402  2025-01-30        1500
8             8102  2024-11-02        1000
9             8821  2024-02-14        1500
10            9954  2024-04-03        1000
11            8227  2025-04-07        3000
12            8000  2024-08-26        4500
13            8307  2024-05-12        3500
14            9613  2024-06-23        2500
15           13000  2024-09-29        2000
16           15683  2024-01-04        4500
17           47162  2025-07-28        1500
18           13728  2024-08-10       52500
19           15627  2025-01-21       35000
20           12738  2025-07-01        2000
21           13828  2024-06-16       44000
22           52161  2025-07-19        4000
23           22817  2025-10-28        3500
24           15267  2024-11-10        2500
25           16892  2024-07-05        3000
26           33181  2025-11-10        4500
27           11281  2024-01-04        3500
28           16782  2025-01-17        4000
29           12716  2025-09-06       32500
30           23818  2025-06-01        2500
31           37182  2024-07-24        4500
32           21567  2024-11-25       66000
33           20187  2025-08-18        2500
34           15628  2025-01-13        2500
35           13892  2024-06-20        2500
36           17655  2025-06-28        2000
37           33271  2024-12-28       70000
38           12879  2025-04-03        1000
39           14251  2025-06-03        3000
40           40769  2024-07-10        2000
41           43561  2024-07-10        3000
42           17451  2025-08-30        2000
43           17627  2024-05-15        4000   → Kolom unit_price berhasil dikonversi ke numerik.

In [35]:
billing['total_amount'] = pd.to_numeric(billing['total_amount'], errors='raise')

# Jika semua datanya adalah angka bulat (misalnya: 184000.0), ubah ke integer
if billing['total_amount'].dropna().apply(float.is_integer).all():
    billing['total_amount'] = billing['total_amount'].astype(int)

In [36]:
# 2. Konversi ke numerik (tanpa coerce)
to_numeric = [
    (billing, 'total_amount'),
    (doctor, 'consultation_fee'),
    (medicine, 'unit_price'),

]

for df, col in to_numeric:
    try:
        df[col] = pd.to_numeric(df[col], errors='raise')
        print(f"{df.columns.name or df} → Kolom {col} berhasil dikonversi ke numerik.")
    except Exception as e:
        print(f"❌ Gagal konversi kolom {col}: {e}")

       bill_id  patient_id  appointment_id  total_amount payment_status  \
0            1          20               1        184000           paid
1            2          39               2        186000           paid
2            3          59               3        184000           paid
3            4          68               4        184000           paid
4            5          73               5        184000           paid
...        ...         ...             ...           ...            ...
39111    39112         611           39112        372000           paid
39112    39113         615           39113        372000           paid
39113    39114         713           39114        335000           paid
39114    39115         717           39115        267500           paid
39115    39116         745           39116        267500           paid

      payment_date insurance_provider
0       2023-01-06         Prudential
1       2023-01-07      Bayar Mandiri
2       2023-01-02               BPJS
3       2023-01-12           Sinarmas
4       2023-01-08      Bayar Mandiri
...            ...                ...
39111   2025-01-04   Mandiri InHealth
39112   2025-01-01           Sinarmas
39113   2024-12-31      Bayar Mandiri
39114   2025-01-01                AIA
39115   2024-12-31      Bayar Mandiri

[39116 rows x 7 columns] → Kolom total_amount berhasil dikonversi ke numerik.
    doctor_id   first_name  last_name        specialty contact_number  \
0          11      Dr Agus    Santoso       Cardiology     8123456701
1          12      Dr Dewi      Putri       Cardiology     8123456702
2          13      Dr Budi     Wijaya        Neurology     8123456703
3          14      Dr Sari  Wulandari        Neurology     8123456704
4          15      Dr Joko   Prasetyo      Orthopedics     8123456705
5          16      Dr Maya       Sari      Orthopedics     8123456706
6          17      Dr Rina     Kusuma      Dermatology     8123456707
7          18      Dr Arif    Hidayat      Dermatology     8123456708
8          19      Dr Lina   Fauziyah       Pediatrics     8123456709
9          20      Dr Andi    Saputra       Pediatrics     8123456710
10         21      Dr Dewi  Anggraini  General Surgery     8123456711
11         22     Dr Fajar    Pratama  General Surgery     8123456712
12         23     Dr Wulan    Cahyani       Gynecology     8123456713
13         24      Dr Beni       Hadi       Gynecology     8123456714
14         25     Dr Sinta   Mahendra       Psychiatry     8123456715
15         26      Dr Rian      Putra       Psychiatry     8123456716
16         27       Dr Eka       Sari              ENT     8123456717
17         28     Dr Yudha     Wibowo              ENT     8123456718
18         29     Dr Fitri    Ningsih    Ophthalmology     8123456719
19         30      Dr Tono    Pranoto    Ophthalmology     8123456720
20          1    Dr. Alice     Miller       Cardiology        5551122
21          2      Dr. Bob   Williams        Neurology        5552233
22          3  Dr. Charlie      Brown      Orthopedics        5553344
23          4    Dr. Diana      Jones      Dermatology        5554455
24          5      Dr. Eva     Garcia       Pediatrics        5555566
25          6    Dr. Frank   Martinez  General Surgery        5556677
26          7    Dr. Grace  Rodriguez       Gynecology        5557788
27          8    Dr. Henry        Lee       Psychiatry        5558899
28          9      Dr. Ivy      Lopez    Ophthalmology        5559900
29         10     Dr. Jack      White              ENT        5551010

                           email     available_schedule  consultation_fee
0       dragus.santoso@gmail.com     Monday 08:00-12:00            200000
1         drdewi.putri@yahoo.com    Tuesday 13:00-17:00            200000
2        drbudi.wijaya@gmail.com  Wednesday 08:00-12:00            185000
3   drsari.wulandari@outlook.com   Thursday 13:00-17:00            185000
4      drjoko.prasetyo@gmail.com     Friday 07:00-11:00            200000
5          drmaya.sari@yahoo.com     Monday 13:00-17:00            200000
6      drrina.kusuma@outlook.com    Tuesday 08:00-12:00            125000
7       drarif.hidayat@gmail.com  Wednesday 13:00-17:00            125000
8      drlina.fauziyah@yahoo.com   Thursday 08:00-12:00            120000
9       drandi.saputra@gmail.com     Friday 13:30-17:30            120000
10  drdewi.anggraini@outlook.com     Monday 08:00-12:00            155000
11     drfajar.pratama@gmail.com    Tuesday 13:00-17:00            155000
12     drwulan.cahyani@yahoo.com  Wednesday 08:00-12:00            260000
13         drbeni.hadi@gmail.com   Thursday 13:00-17:00            260000
14  drsinta.mahendra@outlook.com     Friday 07:00-11:00            160000
15        drrian.putra@gmail.com     Monday 13:00-17:00            160000
16         dereka.sari@yahoo.com    Tuesday 08:00-12:00            260000
17      dryudha.wibowo@gmail.com  Wednesday 13:00-17:00            260000
18   drfitri.ningsih@outlook.com   Thursday 08:00-12:00            290000
19      drtono.pranoto@gmail.com     Friday 13:30-17:30            290000
20        alice.miller@email.com     Monday 13:00-17:00            200000
21        bob.williams@email.com    Tuesday 08:00-12:00            185000
22       charlie.brown@email.com   Thursday 08:00-12:00            200000
23         diana.jones@email.com     Friday 13:30-17:30            125000
24          eva.garcia@email.com     Monday 08:00-12:00            120000
25      frank.martinez@email.com  Wednesday 13:00-17:00            155000
26     grace.rodriguez@email.com    Tuesday 13:00-17:00            260000
27           henry.lee@email.com   Thursday 08:00-12:00            160000
28           ivy.lopez@email.com  Wednesday 08:00-12:00            290000
29          jack.white@email.com     Friday 07:00-11:00            260000   → Kolom consultation_fee berhasil dikonversi ke numerik.
    medicine_id                      name   brand     type  dosage  \
0             2               Ceftriaxone  BrandB   Liquid    5 ml
1             9             Norethindrone  BrandD   Tablet  250 mg
2            12               Latanoprost  BrandB   Liquid    5 ml
3            14                   Diosmin  BrandD   Tablet  250 mg
4            17               Sumatriptan  BrandB   Tablet  250 mg
5            22                 Ibuprofen  BrandB   Tablet  500 mg
6            24              Azithromycin  BrandD   Tablet  500 mg
7            25                Leuprolide  BrandE   Tablet  750 mg
8            26                Gabapentin  BrandA   Tablet  750 mg
9            27                    Lutein  BrandB   Tablet  500 mg
10           37  Testosterone undecanoate  BrandB  Capsule  750 mg
11           38             Ciprofloxacin  BrandC   Tablet  250 mg
12           39               Doxycycline  BrandD   Tablet  500 mg
13           42                  Naproxen  BrandB   Tablet  250 mg
14           43                  Diazepam  BrandC   Tablet  250 mg
15            1               Doxycycline  BrandA   Tablet  500 mg
16            3                Amiodarone  BrandC   Tablet  250 mg
17            4                   Lithium  BrandD   Tablet  500 mg
18            5      Prednisolone acetate  BrandE   Liquid    5 ml
19            6           Chloramphenicol  BrandA   Liquid   10 ml
20            7                Sertraline  BrandB   Tablet  250 mg
21            8            Hydrocortisone  BrandC   Liquid    5 ml
22           10             Valproic acid  BrandE   Tablet  500 mg
23           11                 Ibuprofen  BrandA   Tablet  500 mg
24           13                 Ketorolac  BrandC   Tablet  250 mg
25           15               Paracetamol  BrandE   Tablet  500 mg
26           16                Amlodipine  BrandA   Tablet  250 mg
27           18               Amoxicillin  BrandC   Tablet  250 mg
28           19                 Metformin  BrandD   Tablet  250 mg
29           20              Calcipotriol  BrandE   Liquid    5 ml
30           21                Olanzapine  BrandA   Tablet  250 mg
31           23              Levofloxacin  BrandC   Tablet  750 mg
32           28          Dextromethorphan  BrandC   Liquid    5 ml
33           29               Paracetamol  BrandD   Tablet  500 mg
34           30                Loperamide  BrandE   Tablet  750 mg
35           32                Furosemide  BrandB   Tablet  500 mg
36           33                   Aspirin  BrandC   Tablet  250 mg
37           34             Betamethasone  BrandD   Liquid    5 ml
38           36                Ketoprofen  BrandA   Tablet  250 mg
39           40               Betahistine  BrandE   Tablet  500 mg
40           41                 Meloxicam  BrandA   Tablet  750 mg
41           44              Promethazine  BrandA   Tablet   25 mg
42           35                Loratadine  BrandE   Tablet  750 mg
43           31                Cetirizine  BrandA   Tablet  500 mg

    stock_quantity expiry_date  unit_price
0             8093  2025-06-13       46500
1             9707  2025-08-03        1500
2             8638  2024-07-19       49500
3             9837  2025-12-23        1000
4             9468  2025-08-07        3000
5             9889  2024-11-25        3500
6             9546  2025-07-19        1000
7             9402  2025-01-30        1500
8             8102  2024-11-02        1000
9             8821  2024-02-14        1500
10            9954  2024-04-03        1000
11            8227  2025-04-07        3000
12            8000  2024-08-26        4500
13            8307  2024-05-12        3500
14            9613  2024-06-23        2500
15           13000  2024-09-29        2000
16           15683  2024-01-04        4500
17           47162  2025-07-28        1500
18           13728  2024-08-10       52500
19           15627  2025-01-21       35000
20           12738  2025-07-01        2000
21           13828  2024-06-16       44000
22           52161  2025-07-19        4000
23           22817  2025-10-28        3500
24           15267  2024-11-10        2500
25           16892  2024-07-05        3000
26           33181  2025-11-10        4500
27           11281  2024-01-04        3500
28           16782  2025-01-17        4000
29           12716  2025-09-06       32500
30           23818  2025-06-01        2500
31           37182  2024-07-24        4500
32           21567  2024-11-25       66000
33           20187  2025-08-18        2500
34           15628  2025-01-13        2500
35           13892  2024-06-20        2500
36           17655  2025-06-28        2000
37           33271  2024-12-28       70000
38           12879  2025-04-03        1000
39           14251  2025-06-03        3000
40           40769  2024-07-10        2000
41           43561  2024-07-10        3000
42           17451  2025-08-30        2000
43           17627  2024-05-15        4000   → Kolom unit_price berhasil dikonversi ke numerik.

<h3>Nilai Tidak Masuk Akal</h3>

In [37]:
# 1. Umur pasien dari date_of_birth
today = pd.Timestamp.today()
patient['age'] = (today - patient['date_of_birth']) // pd.Timedelta(days=365.25)
outlier_age = patient[(patient['age'] < 0) | (patient['age'] > 100)]
print("❌ Jumlah data umur tidak masuk akal:", len(outlier_age))

# 2. Biaya pengobatan (total_amount)
invalid_billing = billing[(billing['total_amount'] <= 0) | (billing['total_amount'] > 1e9)]
print("❌ Jumlah billing tidak masuk akal:", len(invalid_billing))

# 3. Unit price obat
invalid_price = medicine[(medicine['unit_price'] < 0) | (medicine['unit_price'] > 1e8)]
print("❌ Harga obat tidak masuk akal:", len(invalid_price))

# 4. Unit fee dokter
invalid_price = doctor[(doctor['consultation_fee'] < 0) | (doctor['consultation_fee'] > 1e8)]
print("❌ Harga dokter tidak masuk akal:", len(invalid_price))

# 5. Tanggal keluar < masuk (jika ada discharge/admission)
invalid_time = ambulance_log[
    (ambulance_log['dropoff_time'] < ambulance_log['pickup_time'])
]
print("❌ Waktu sampai ke sebelum berangkat:", len(invalid_time))

❌ Jumlah data umur tidak masuk akal: 0
❌ Jumlah billing tidak masuk akal: 0
❌ Harga obat tidak masuk akal: 0
❌ Harga dokter tidak masuk akal: 0
❌ Waktu sampai ke sebelum berangkat: 0

<h3>Normalisasi Nilai Kategorikal</h3>

In [38]:
# Normalisasi payment_status → 'Paid', 'Unpaid'
billing['payment_status'] = billing['payment_status'].astype(str).str.strip().str.title()
print("Nilai unik payment_status:", billing['payment_status'].unique())

Nilai unik payment_status: ['Paid']

In [39]:
# Normalisasi gender → 'Male', 'Female'
patient['gender'] = patient['gender'].astype(str).str.strip().str.title()
print("Nilai unik gender:", patient['gender'].unique())

Nilai unik gender: ['F' 'M']

In [40]:
# Normalisasi specialty → 'Cardiology', 'Neurology', dll.
doctor['specialty'] = doctor['specialty'].astype(str).str.strip().str.title()
print("Nilai unik specialty:", doctor['specialty'].unique())

Nilai unik specialty: ['Cardiology' 'Neurology' 'Orthopedics' 'Dermatology' 'Pediatrics'
 'General Surgery' 'Gynecology' 'Psychiatry' 'Ent' 'Ophthalmology']

In [41]:
# Normalisasi department_name → 'Cardiology', 'Neurology', dll.
department['department_name'] = department['department_name'].astype(str).str.strip().str.title()
print("Nilai unik department_name:", department['department_name'].unique())

Nilai unik department_name: ['Cardiology' 'Neurology' 'Orthopedics' 'Dermatology' 'Pediatrics'
 'General Surgery' 'Gynecology' 'Psychiatry' 'Ophthalmology' 'Ent'
 'Manajemen Dan Administrasi']

In [42]:
# Normalisasi spesialization → 'Cardiology', 'Neurology', dll.
nurse['specialization'] = nurse['specialization'].astype(str).str.strip().str.title()
print("Nilai unik specialization:", nurse['specialization'].unique())

Nilai unik specialization: ['Cardiology' 'Neurology' 'Orthopedics' 'Dermatology' 'Pediatrics'
 'General Surgery' 'Gynecology' 'Psychiatry' 'Ophthalmology' 'Ent']

<h3>Cek dan Koreksi Relasi Antar Tabel</h3>

In [43]:
def cek_relasi(df_asal, kolom_fk, df_target, kolom_pk):
    missing = ~df_asal[kolom_fk].isin(df_target[kolom_pk])
    if missing.sum() > 0:
        print(f"❌ {missing.sum()} data di kolom '{kolom_fk}' tidak ditemukan di '{kolom_pk}'")
        return df_asal[missing]  # tampilkan baris yang bermasalah
    else:
        print(f"✅ Semua nilai di kolom '{kolom_fk}' cocok dengan '{kolom_pk}'")
        return None

In [44]:
cek_relasi(appointment, 'patient_id', patient, 'patient_id')
cek_relasi(appointment, 'doctor_id', doctor, 'doctor_id')
cek_relasi(billing, 'appointment_id', appointment, 'appointment_id')
cek_relasi(medical_record, 'appointment_id', appointment, 'appointment_id')
cek_relasi(prescription, 'patient_id', patient, 'patient_id')
cek_relasi(prescription, 'doctor_id', doctor, 'doctor_id')

✅ Semua nilai di kolom 'patient_id' cocok dengan 'patient_id'
✅ Semua nilai di kolom 'doctor_id' cocok dengan 'doctor_id'
✅ Semua nilai di kolom 'appointment_id' cocok dengan 'appointment_id'
✅ Semua nilai di kolom 'appointment_id' cocok dengan 'appointment_id'
✅ Semua nilai di kolom 'patient_id' cocok dengan 'patient_id'
✅ Semua nilai di kolom 'doctor_id' cocok dengan 'doctor_id'

<h1>TRANSFORM</h1>

<h2>Data Transforming</h2>

<h3>Pembersihan dan Standarisasi</h3>

In [45]:
def split_dosage(medicine):
    extracted = medicine['dosage'].str.extract(r'(\d+)\s*([a-zA-Z]+)')
    medicine['dosage_value'] = pd.to_numeric(extracted[0], errors='raise')  # tidak pakai coerce
    medicine['dosage_unit'] = extracted[1].str.lower()
    return df

medicine = split_dosage(medicine)
medicine.head()

,medicine_id,name,brand,type,dosage,stock_quantity,expiry_date,unit_price,dosage_value,dosage_unit
0,2,Ceftriaxone,BrandB,Liquid,5 ml,8093,2025-06-13,46500,5,ml
1,9,Norethindrone,BrandD,Tablet,250 mg,9707,2025-08-03,1500,250,mg
2,12,Latanoprost,BrandB,Liquid,5 ml,8638,2024-07-19,49500,5,ml
3,14,Diosmin,BrandD,Tablet,250 mg,9837,2025-12-23,1000,250,mg
4,17,Sumatriptan,BrandB,Tablet,250 mg,9468,2025-08-07,3000,250,mg

<H3>Join Tabel</H3>

<h4>Tabel Billing, Appointment dan Doctor</h4>

In [46]:
# JOIN billing dengan appointments via appointment_id
billing_appointments = pd.merge(
    billing,
    appointment,
    how='left',
    left_on='appointment_id',
    right_on='appointment_id'
)

# Lanjutkan join dengan doctors untuk ambil spesialisasinya
billing_with_specialty = pd.merge(
    billing_appointments,
    doctor[['doctor_id', 'specialty']],
    how='left',
    on='doctor_id'
)

In [47]:
billing_with_specialty.head()

,bill_id,patient_id_x,appointment_id,total_amount,payment_status,payment_date,insurance_provider,patient_id_y,doctor_id,appointment_date,appointment_time,purpose,status,specialty
0,1,20,1,184000,Paid,2023-01-06,Prudential,20,5,2023-01-02,08:00:00,Hidung meler,Scheduled,Pediatrics
1,2,39,2,186000,Paid,2023-01-07,Bayar Mandiri,39,5,2023-01-02,08:00:00,Iritasi tenggorokan dan batuk,Scheduled,Pediatrics
2,3,59,3,184000,Paid,2023-01-02,BPJS,59,5,2023-01-02,08:00:00,Hidung meler,Scheduled,Pediatrics
3,4,68,4,184000,Paid,2023-01-12,Sinarmas,68,5,2023-01-02,08:00:00,Hidung meler,Scheduled,Pediatrics
4,5,73,5,184000,Paid,2023-01-08,Bayar Mandiri,73,5,2023-01-02,08:00:00,Hidung meler,Scheduled,Pediatrics

In [48]:
billing_with_specialty.drop(columns='patient_id_y', inplace=True)
billing_with_specialty.rename(columns={'patient_id_x': 'patient_id'}, inplace=True)
billing_with_specialty.head()

,bill_id,patient_id,appointment_id,total_amount,payment_status,payment_date,insurance_provider,doctor_id,appointment_date,appointment_time,purpose,status,specialty
0,1,20,1,184000,Paid,2023-01-06,Prudential,5,2023-01-02,08:00:00,Hidung meler,Scheduled,Pediatrics
1,2,39,2,186000,Paid,2023-01-07,Bayar Mandiri,5,2023-01-02,08:00:00,Iritasi tenggorokan dan batuk,Scheduled,Pediatrics
2,3,59,3,184000,Paid,2023-01-02,BPJS,5,2023-01-02,08:00:00,Hidung meler,Scheduled,Pediatrics
3,4,68,4,184000,Paid,2023-01-12,Sinarmas,5,2023-01-02,08:00:00,Hidung meler,Scheduled,Pediatrics
4,5,73,5,184000,Paid,2023-01-08,Bayar Mandiri,5,2023-01-02,08:00:00,Hidung meler,Scheduled,Pediatrics

<h3>Feature Engineering</h3>

<h4>Tabel Patient</h4>

In [49]:
from datetime import datetime

# Pastikan kolom date_of_birth adalah datetime
patient['date_of_birth'] = pd.to_datetime(patient['date_of_birth'])

# Tanggal acuan (misalnya hari ini)
today = pd.to_datetime('today')

# Fungsi hitung umur
def calculate_age(birth_date, reference_date):
    return reference_date.year - birth_date.year - (
        (reference_date.month, reference_date.day) < (birth_date.month, birth_date.day)
    )

# Terapkan ke semua baris
patient['age'] = patient['date_of_birth'].apply(lambda dob: calculate_age(dob, today))
patient.head()

,patient_id,first_name,last_name,date_of_birth,gender,contact_number,address,email,medical_history,age
0,1,Olivia,Mustofa,2012-04-23,F,8718849939,"Jl. Menur Pumpungan No. 114, Sawahan, Surabaya...",olivia.mustofa@example.com,Pilek,13
1,2,Zahra,Padmasari,2006-10-19,F,8677864703,"Jl. HR. Muhammad No. 177, Tandes, Surabaya, Ja...",zahra.padmasari@example.com,Degenerasi Makula,18
2,3,Iqbal,Simanjuntak,1973-05-29,M,8164727650,"Jl. Kenjeran No. 7, Sukolilo, Surabaya, Jawa T...",iqbal.simanjuntak@example.com,Appendicitis,52
3,4,Daffa,Hutagalung,1995-01-08,M,8822027494,"Jl. Raya Darmo No. 175, Sukolilo, Surabaya, Ja...",daffa.hutagalung@example.com,Eksim,30
4,5,Rukmini,Pudjiastuti,2007-04-12,F,8153798274,"Jl. Mayjen Sungkono No. 175, Rungkut, Surabaya...",rukmini.pudjiastuti@example.com,Infeksi Saluran Reproduksi,18

<h4>Tabel Appointment</h4>

In [50]:
# Buat DataFrame baru dari appointment
appointments_split = appointment.copy()

# Tambahkan kolom hari, bulan, tahun
appointments_split['appointment_day'] = appointments_split['appointment_date'].dt.day
appointments_split['appointment_month'] = appointments_split['appointment_date'].dt.month
appointments_split['appointment_year'] = appointments_split['appointment_date'].dt.year
appointments_split.head()

,appointment_id,patient_id,doctor_id,appointment_date,appointment_time,purpose,status,appointment_day,appointment_month,appointment_year
0,1,20,5,2023-01-02,08:00:00,Hidung meler,Scheduled,2,1,2023
1,2,39,5,2023-01-02,08:00:00,Iritasi tenggorokan dan batuk,Scheduled,2,1,2023
2,3,59,5,2023-01-02,08:00:00,Hidung meler,Scheduled,2,1,2023
3,4,68,5,2023-01-02,08:00:00,Hidung meler,Scheduled,2,1,2023
4,5,73,5,2023-01-02,08:00:00,Hidung meler,Scheduled,2,1,2023

<h4>Tabel Billing</h4>

In [51]:
billing_split = billing_with_specialty.copy()

billing_split['payment_day'] = billing_split['payment_date'].dt.day
billing_split['payment_month'] = billing_split['payment_date'].dt.month
billing_split['payment_year'] = billing_split['payment_date'].dt.year

In [52]:
# Fitur: keterlambatan bayar
billing_split['paid_late'] = billing_split['payment_date'] > billing_split ['appointment_date']  # disesuaikan dengan appointment

In [53]:
billing_split.head()

,bill_id,patient_id,appointment_id,total_amount,payment_status,payment_date,insurance_provider,doctor_id,appointment_date,appointment_time,purpose,status,specialty,payment_day,payment_month,payment_year,paid_late
0,1,20,1,184000,Paid,2023-01-06,Prudential,5,2023-01-02,08:00:00,Hidung meler,Scheduled,Pediatrics,6,1,2023,True
1,2,39,2,186000,Paid,2023-01-07,Bayar Mandiri,5,2023-01-02,08:00:00,Iritasi tenggorokan dan batuk,Scheduled,Pediatrics,7,1,2023,True
2,3,59,3,184000,Paid,2023-01-02,BPJS,5,2023-01-02,08:00:00,Hidung meler,Scheduled,Pediatrics,2,1,2023,False
3,4,68,4,184000,Paid,2023-01-12,Sinarmas,5,2023-01-02,08:00:00,Hidung meler,Scheduled,Pediatrics,12,1,2023,True
4,5,73,5,184000,Paid,2023-01-08,Bayar Mandiri,5,2023-01-02,08:00:00,Hidung meler,Scheduled,Pediatrics,8,1,2023,True

In [54]:
# Daftar provider asuransi
asuransi_list = ['bpjs', 'mandiri inhealth', 'aia', 'prudential', 'sinarmas', 'allianz']

# Normalisasi nilai
billing_split['insurance_provider_clean'] = billing_split['insurance_provider'].str.lower().str.strip()

# Mapping ke "Yes"/"No"
billing_split['is_insured'] = billing_split['insurance_provider_clean'].apply(
    lambda x: 'Yes' if x in asuransi_list else 'No'
)

# (Opsional) Hapus kolom bantu
billing_split.drop(columns=['insurance_provider_clean'], inplace=True)
billing_split.head()

,bill_id,patient_id,appointment_id,total_amount,payment_status,payment_date,insurance_provider,doctor_id,appointment_date,appointment_time,purpose,status,specialty,payment_day,payment_month,payment_year,paid_late,is_insured
0,1,20,1,184000,Paid,2023-01-06,Prudential,5,2023-01-02,08:00:00,Hidung meler,Scheduled,Pediatrics,6,1,2023,True,Yes
1,2,39,2,186000,Paid,2023-01-07,Bayar Mandiri,5,2023-01-02,08:00:00,Iritasi tenggorokan dan batuk,Scheduled,Pediatrics,7,1,2023,True,No
2,3,59,3,184000,Paid,2023-01-02,BPJS,5,2023-01-02,08:00:00,Hidung meler,Scheduled,Pediatrics,2,1,2023,False,Yes
3,4,68,4,184000,Paid,2023-01-12,Sinarmas,5,2023-01-02,08:00:00,Hidung meler,Scheduled,Pediatrics,12,1,2023,True,Yes
4,5,73,5,184000,Paid,2023-01-08,Bayar Mandiri,5,2023-01-02,08:00:00,Hidung meler,Scheduled,Pediatrics,8,1,2023,True,No

<h4>Tabel Room_Assignment</h4>

In [55]:
assignment_split = room_assignment.copy()

assignment_split['assignment_day'] = assignment_split['assignment_date'].dt.day
assignment_split['assignment_month'] = assignment_split['assignment_date'].dt.month
assignment_split['assignment_year'] = assignment_split['assignment_date'].dt.year

assignment_split.head()

,assignment_id,room_id,staff_id,patient_id,assignment_date,end_date,assignment_day,assignment_month,assignment_year
0,1,35,13,20,2023-01-02,2023-01-02,2,1,2023
1,2,35,13,39,2023-01-02,2023-01-02,2,1,2023
2,3,35,13,59,2023-01-02,2023-01-02,2,1,2023
3,4,35,13,68,2023-01-02,2023-01-02,2,1,2023
4,5,35,13,73,2023-01-02,2023-01-02,2,1,2023

In [56]:
# Pastikan kolomnya dalam format datetime
assignment_split['assignment_date'] = pd.to_datetime(assignment_split['assignment_date'])
assignment_split['end_date'] = pd.to_datetime(assignment_split['end_date'])

# Buat kolom baru 'length_of_stay' yang berisi durasi menginap dalam hari
assignment_split['length_of_stay'] = (assignment_split['end_date'] - assignment_split['assignment_date']).dt.days
assignment_split.head(10)

,assignment_id,room_id,staff_id,patient_id,assignment_date,end_date,assignment_day,assignment_month,assignment_year,length_of_stay
0,1,35,13,20,2023-01-02,2023-01-02,2,1,2023,0
1,2,35,13,39,2023-01-02,2023-01-02,2,1,2023,0
2,3,35,13,59,2023-01-02,2023-01-02,2,1,2023,0
3,4,35,13,68,2023-01-02,2023-01-02,2,1,2023,0
4,5,35,13,73,2023-01-02,2023-01-02,2,1,2023,0
5,6,35,13,176,2023-01-02,2023-01-02,2,1,2023,0
6,7,35,13,252,2023-01-02,2023-01-02,2,1,2023,0
7,8,35,13,266,2023-01-02,2023-01-02,2,1,2023,0
8,9,35,13,338,2023-01-02,2023-01-02,2,1,2023,0
9,10,39,13,377,2023-01-02,2023-01-03,2,1,2023,1

<h4>Tabel Ambulance Log</h4>

In [57]:
log_split = ambulance_log.copy()
# Pastikan kolomnya dalam format datetime
log_split['pickup_time'] = pd.to_datetime(log_split['pickup_time'])
log_split['dropoff_time'] = pd.to_datetime(log_split['dropoff_time'])

# Buat kolom baru 'length_of_stay' yang berisi durasi menginap dalam hari
log_split['length_of_journey'] = (log_split['dropoff_time'] - log_split['pickup_time'])
log_split.head()

,log_id,ambulance_id,patient_id,pickup_location,dropoff_location,pickup_time,dropoff_time,status,length_of_journey
0,1,2,7467,kantor,rumah sakit,2023-07-28 09:38:00,2023-07-28 10:32:00,Completed,0 days 00:54:00
1,4,5,2818,rumah,rumah sakit,2023-07-13 16:20:00,2023-07-13 16:30:00,Completed,0 days 00:10:00
2,5,4,7245,kantor,rumah sakit,2024-08-29 06:11:00,2024-08-29 07:09:00,Completed,0 days 00:58:00
3,6,1,8989,kantor,rumah sakit,2023-08-07 05:43:00,2023-08-07 05:53:00,Completed,0 days 00:10:00
4,7,4,290,mall,rumah sakit,2024-03-30 15:36:00,2024-03-30 16:22:00,Completed,0 days 00:46:00

<h2>Data Aggregating</h2>

<h3>Business Intelligence</h3>

<h4>Asuransi Apa yang Paling Banyak Digunakan Oleh Pasien?</h4>

<h5>Buat dim_date</h5>

In [39]:
# Buat dim_date dari billing_split
dim_date = billing_split[['payment_date']].drop_duplicates().copy()

# Tambahkan atribut waktu
dim_date['payment_month'] = dim_date['payment_date'].dt.month
dim_date['payment_year'] = dim_date['payment_date'].dt.year

# Buat ID unik untuk setiap tanggal
dim_date['date_id'] = dim_date.reset_index().index + 1  # Mulai dari 1

# Susun kolom
dim_date = dim_date[['date_id', 'payment_date', 'payment_month', 'payment_year']]
dim_date.head()

   date_id payment_date  payment_month  payment_year
0        1   2023-01-06              1          2023
1        2   2023-01-07              1          2023
2        3   2023-01-02              1          2023
3        4   2023-01-12              1          2023
4        5   2023-01-08              1          2023

<h5>Buat dim_bill</h5>

In [40]:
# Ambil kolom-kolom penting dari billing_split
dim_bill = billing_split[['bill_id', 'insurance_provider', 'paid_late']].drop_duplicates().copy()

# Tambahkan kolom bill_id sebagai PK (sudah ada)
dim_bill = dim_bill[['bill_id', 'insurance_provider', 'paid_late']]
dim_bill.head()

   bill_id insurance_provider  paid_late
0        1         Prudential       True
1        2      Bayar Mandiri       True
2        3               BPJS      False
3        4           Sinarmas       True
4        5      Bayar Mandiri       True

<h5>Buat fact_billing</h5>

In [41]:
# Gabungkan billing_split dengan dim_date untuk ambil date_id
fact_billing = billing_split[['bill_id', 'payment_date']].copy()
fact_billing = pd.merge(fact_billing, dim_date[['date_id', 'payment_date']], on='payment_date', how='left')

# Ubah kolom nama agar sesuai schema
fact_billing.rename(columns={'billing_id': 'bill_id'}, inplace=True)

# Tambahkan kolom fact_id (primary key)
fact_billing = fact_billing.reset_index(drop=True)
fact_billing['fact_id'] = fact_billing.index + 1  # Mulai dari 1

# Susun kolom sesuai urutan
fact_billing = fact_billing[['fact_id', 'date_id', 'bill_id']]
fact_billing.head()

   fact_id  date_id  bill_id
0        1        1        1
1        2        2        2
2        3        3        3
3        4        4        4
4        5        5        5

<h4>Obat Apa yang Perlu Direstock?</h4>

<h5>Buat dim_medicine</h5>

In [42]:
dim_medicine = medicine[['medicine_id', 'name', 'dosage_value', 'dosage_unit', 'type']].copy()
dim_medicine.drop_duplicates(inplace=True)  # Jaga-jaga kalau ada duplikat
dim_medicine.head()

   medicine_id           name  dosage_value dosage_unit    type
0            2    Ceftriaxone             5          ml  Liquid
1            9  Norethindrone           250          mg  Tablet
2           12    Latanoprost             5          ml  Liquid
3           14        Diosmin           250          mg  Tablet
4           17    Sumatriptan           250          mg  Tablet

<h5>Buat fact_stock</h5>

In [43]:
# Hitung total penggunaan obat dari pharmacy
usage = pharmacy.groupby('medicine_id')['quantity'].sum().reset_index()
usage.rename(columns={'quantity': 'used_quantity'}, inplace=True)

# Gabungkan dengan medicine untuk tahu stok tersisa
stock_calc = pd.merge(medicine, usage, on='medicine_id', how='left')
stock_calc['used_quantity'] = stock_calc['used_quantity'].fillna(0)

# Hitung stok sekarang
stock_calc['remaining_quantity'] = stock_calc['stock_quantity'] - stock_calc['used_quantity']

# Buat fact_stock
fact_stock = stock_calc[['medicine_id', 'remaining_quantity']].copy()
fact_stock['fact_id'] = range(1, len(fact_stock)+1)
fact_stock = fact_stock[['fact_id', 'medicine_id', 'remaining_quantity']]
fact_stock.head()

   fact_id  medicine_id  remaining_quantity
0        1            2                4988
1        2            9                2372
2        3           12                5287
3        4           14                7047
4        5           17                1530

<h4>Jenis Kamar Apa yang Paling Sering Digunakan?</h4>

<h5>Buat dim_room</h5>

In [44]:
# Mapping room_type_id ke room_class
room_type_mapping = {
    5: 'Kelas 1 Dewasa',
    6: 'Kelas 2 Dewasa',
    7: 'Kelas 3 Dewasa',
    8: 'Kelas 1 Anak',
    9: 'Kelas 2 Anak',
    10: 'Kelas 3 Anak',
    12: 'Rawat Inap Psikologi'
}

In [45]:
# Salin data room
dim_room = room.copy()

# Tambahkan kolom room_class berdasarkan mapping
dim_room['room_class'] = dim_room['room_type_id'].map(room_type_mapping)

# Hanya ambil kolom yang dibutuhkan
dim_room = dim_room[['room_id', 'room_type_id', 'room_class']]

# Tampilkan hasil
dim_room.head(15)

    room_id  room_type_id      room_class
0         1             1             NaN
1         2             1             NaN
2         3             1             NaN
3         4             2             NaN
4         5             2             NaN
5         6             2             NaN
6         7             3             NaN
7         8             3             NaN
8         9             3             NaN
9        10             4             NaN
10       11             4             NaN
11       12             4             NaN
12       13             5  Kelas 1 Dewasa
13       14             5  Kelas 1 Dewasa
14       15             5  Kelas 1 Dewasa

In [46]:
dim_room = dim_room.dropna(subset=['room_class'])
dim_room.head()

    room_id  room_type_id      room_class
12       13             5  Kelas 1 Dewasa
13       14             5  Kelas 1 Dewasa
14       15             5  Kelas 1 Dewasa
15       16             5  Kelas 1 Dewasa
16       17             6  Kelas 2 Dewasa

<h5>Buat dim_date_room</h5>

In [47]:
# Ambil unique tanggal penugasan kamar
dim_date_room = assignment_split[['assignment_date']].drop_duplicates().copy()

# Pastikan assignment_date dalam datetime
dim_date_room['assignment_date'] = pd.to_datetime(dim_date_room['assignment_date'])

# Buat date_id
dim_date_room['date_id'] = dim_date_room.reset_index().index + 1  # Mulai dari 1

# Tambahkan kolom lainnya
dim_date_room['assignment_month'] = dim_date_room['assignment_date'].dt.month
dim_date_room['assignment_year'] = dim_date_room['assignment_date'].dt.year

# Susun kolom
dim_date_room = dim_date_room[['date_id', 'assignment_date', 'assignment_month', 'assignment_year']]

In [48]:
dim_date_room.head()

     date_id assignment_date  assignment_month  assignment_year
0          1      2023-01-02                 1             2023
76         2      2023-01-03                 1             2023
148        3      2023-01-04                 1             2023
227        4      2023-01-05                 1             2023
300        5      2023-01-06                 1             2023

<h5>Buat fact_room_usage</h5>

In [50]:
# Filter assignment_split by valid room
valid_room_ids = dim_room['room_id'].unique()
assignment_split = assignment_split[assignment_split['room_id'].isin(valid_room_ids)]

# Normalisasi tanggal
assignment_split['assignment_date'] = pd.to_datetime(assignment_split['assignment_date']).dt.normalize()
dim_date_room['assignment_date'] = pd.to_datetime(dim_date_room['assignment_date']).dt.normalize()

# Hitung jumlah penggunaan kamar & total length of stay
fact_room_usage = (
    assignment_split
    .groupby(['room_id', 'assignment_date'])
    .agg(
        usage_count=('room_id', 'count'),
        length_of_stay_total=('length_of_stay', 'sum')
    )
    .reset_index()
)

fact_room_usage = fact_room_usage[fact_room_usage['length_of_stay_total'] > 0]

# Ambil date_id dari dim_date_room
fact_room_usage = fact_room_usage.merge(
    dim_date_room[['assignment_date', 'date_id']],
    on='assignment_date',
    how='left'
)

# Drop assignment_date
fact_room_usage.drop(columns=['assignment_date'], inplace=True)

# Tambahkan fact_id
fact_room_usage = fact_room_usage.reset_index(drop=True)
fact_room_usage['fact_id'] = fact_room_usage.index + 1

# Susun kolom akhir
fact_room_usage = fact_room_usage[['fact_id', 'room_id', 'date_id', 'usage_count', 'length_of_stay_total']]

# Lihat hasil
fact_room_usage.head()

   fact_id  room_id  date_id  usage_count  length_of_stay_total
0        1       13       22            1                     2
1        2       13       35            1                     1
2        3       13       53            1                     2
3        4       13       75            1                     1
4        5       13      132            1                     2

In [93]:
fact_room_usage.to_csv('nama_fileEEEEEEEE.csv', index=False)

<H4>Bagaimana Tren Penggunaan Layanan Ambulan?</H4>

<h5>Buat dim_date_ambulan</h5>

In [51]:
# Ambil unique pickup_time dan buat dim_date
dim_date_ambulan = log_split[['pickup_time']].dropna().drop_duplicates().copy()
dim_date_ambulan['pickup_time'] = pd.to_datetime(dim_date_ambulan['pickup_time'])

# Bikin date_id baru yang urut
dim_date_ambulan = dim_date_ambulan.sort_values('pickup_time').reset_index(drop=True)
dim_date_ambulan['date_id'] = dim_date_ambulan.index + 1

dim_date_ambulan['month'] = dim_date_ambulan['pickup_time'].dt.month
dim_date_ambulan['year'] = dim_date_ambulan['pickup_time'].dt.year

# Rename pickup_time jadi full_date
dim_date_ambulan.rename(columns={'pickup_time': 'full_date'}, inplace=True)

# Reorder kolom
dim_date_ambulan = dim_date_ambulan[['date_id', 'full_date', 'month', 'year']]

dim_date_ambulan.head()

   date_id           full_date  month  year
0        1 2023-01-01 09:48:00      1  2023
1        2 2023-01-01 18:20:00      1  2023
2        3 2023-01-01 20:25:00      1  2023
3        4 2023-01-02 22:27:00      1  2023
4        5 2023-01-03 01:53:00      1  2023

<h5>Buat dim_ambulance</h5>

In [52]:
# Ambil kolom penting dari tabel ambulance
dim_ambulance = ambulance[['ambulance_id', 'ambulance_number', 'availability']].drop_duplicates()

dim_ambulance.head()

   ambulance_id ambulance_number availability
0             1           AMB001      On Duty
1             2           AMB002      On Duty
2             3           AMB003    Available
3             4           AMB004      On Duty
4             5           AMB005      On Duty

<h5>Buat fact_ambulance_usage</h5>

In [149]:
# 1. Normalisasi pickup_time agar hanya tanggal
log_split = log_split.copy()
log_split['pickup_time'] = pd.to_datetime(log_split['pickup_time']).dt.normalize()

# 2. Normalisasi tanggal di dim_date_ambulan
dim_date_ambulan['full_date'] = pd.to_datetime(dim_date_ambulan['full_date']).dt.normalize()

# 3. Merge langsung ke dim_date_ambulan
fact_ambulance_usage = log_split.merge(
    dim_date_ambulan[['full_date', 'date_id']],
    left_on='pickup_time',
    right_on='full_date',
    how='left'
)

# 4. Hitung durasi perjalanan (menit)
fact_ambulance_usage['journey_duration_minutes'] = fact_ambulance_usage['length_of_journey'].dt.total_seconds() / 60

# 5. Ambil kolom yang dibutuhkan
fact_ambulance_usage = fact_ambulance_usage[['ambulance_id', 'date_id', 'journey_duration_minutes', 'status']].copy()

# 6. Drop baris yang tidak lengkap
fact_ambulance_usage = fact_ambulance_usage.dropna(subset=['ambulance_id', 'date_id'])

# 7. Drop duplikat berdasarkan ambulance_id + full_date (bukan full_date doang)
fact_ambulance_usage = fact_ambulance_usage.drop_duplicates(subset=['date_id'])

# 8. Tambah primary key
fact_ambulance_usage = fact_ambulance_usage.reset_index(drop=True)
fact_ambulance_usage['fact_id'] = range(1, len(fact_ambulance_usage) + 1)

# 9. Susun ulang kolom
fact_ambulance_usage = fact_ambulance_usage[['fact_id', 'ambulance_id', 'date_id',  'journey_duration_minutes']]

# 10. Lihat hasil
fact_ambulance_usage.head()

   fact_id  ambulance_id  date_id  journey_duration_minutes
0        1             2      151                      54.0
1        2             5      139                      10.0
2        3             5      140                      10.0
3        4             4      430                      58.0
4        5             4      431                      58.0

<h4>Berapa Estimasi Pasien yang Akan Datang Pada Bulan Depan?</h4>

<h5>Buat dim_date_dokpas</h5>

In [54]:
# Normalisasi tanggal di appointments
appointments_split['appointment_date'] = pd.to_datetime(appointments_split['appointment_date']).dt.normalize()

# Ambil tanggal unik
dim_date_dokpas = pd.DataFrame({
    'full_date': appointments_split['appointment_date'].dropna().unique()
})

# Urutkan dan reset index
dim_date_dokpas['full_date'] = pd.to_datetime(dim_date_dokpas['full_date'])
dim_date_dokpas = dim_date_dokpas.sort_values('full_date').reset_index(drop=True)

# Buat atribut dimensi tanggal
dim_date_dokpas['date_id'] = dim_date_dokpas.index + 1
dim_date_dokpas['month'] = dim_date_dokpas['full_date'].dt.month
dim_date_dokpas['year'] = dim_date_dokpas['full_date'].dt.year

# Susun kolom
dim_date_dokpas = dim_date_dokpas[['date_id', 'full_date', 'month', 'year']]

In [55]:
dim_date_dokpas.head(10)

   date_id  full_date  month  year
0        1 2023-01-02      1  2023
1        2 2023-01-03      1  2023
2        3 2023-01-04      1  2023
3        4 2023-01-05      1  2023
4        5 2023-01-06      1  2023
5        6 2023-01-09      1  2023
6        7 2023-01-10      1  2023
7        8 2023-01-11      1  2023
8        9 2023-01-12      1  2023
9       10 2023-01-13      1  2023

<h5>Buat fact_diagnosis</h5>

In [56]:
# === STEP 1: Join medical_records dengan appointments untuk ambil appointment_date ===
dim_date_dokpas_raw = pd.merge(
    medical_record,
    appointments_split[['appointment_id', 'appointment_date']],
    how='left',
    on='appointment_id'
)

# === STEP 2: Ubah appointment_date ke datetime dan buat full_date ===
dim_date_dokpas_raw['appointment_date'] = pd.to_datetime(dim_date_dokpas_raw['appointment_date'])
dim_date_dokpas_raw['full_date'] = dim_date_dokpas_raw['appointment_date'].dt.normalize()

# === STEP 3: Buat fact_diagnosis sementara (count per diagnosis per tanggal) ===
fact_diagnosis_temp = dim_date_dokpas_raw.groupby(
    ['diagnosis', 'full_date']
).size().reset_index(name='diagnosis_count')

# === STEP 4: Buat dim_date_dokpas (kalau belum dibuat) ===
dim_date_dokpas = pd.DataFrame({
    'full_date': appointments_split['appointment_date'].dropna().unique()
})
dim_date_dokpas['full_date'] = pd.to_datetime(dim_date_dokpas['full_date'])
dim_date_dokpas = dim_date_dokpas.sort_values('full_date').reset_index(drop=True)
dim_date_dokpas['date_id'] = dim_date_dokpas.index + 1

# === STEP 5: Join untuk ambil date_id dari dim_date_dokpas ===
fact_diagnosis = fact_diagnosis_temp.merge(
    dim_date_dokpas[['date_id', 'full_date']],
    on='full_date',
    how='left'
)

# === STEP 6: Tambahkan fact_id ===
fact_diagnosis['fact_id'] = range(1, len(fact_diagnosis) + 1)

# === STEP 7: Susun ulang kolom dan tampilkan ===
fact_diagnosis = fact_diagnosis[['fact_id', 'date_id', 'diagnosis', 'diagnosis_count']]
fact_diagnosis.head()

   fact_id  date_id     diagnosis  diagnosis_count
0        1        1  Appendicitis                3
1        2        2  Appendicitis                4
2        3        3  Appendicitis                4
3        4        6  Appendicitis                2
4        5        7  Appendicitis                3

<h4>Hubungan Antara Dokter dan Jumlah Rata-Rata Pasien</h4>

<h5>Buat dim_doctor</h5>

In [57]:
# Ambil kolom doctor_id dan specialty dari tabel doctor
dim_doctor = doctor[['doctor_id', 'specialty']].drop_duplicates()

# Urutkan berdasarkan doctor_id (biar rapi dan ID stabil)
dim_doctor = dim_doctor.sort_values('doctor_id').reset_index(drop=True)

# Tambahkan kolom doctor_dim_id (ID dimensi)
dim_doctor['doctor_dim_id'] = range(1, len(dim_doctor) + 1)

# Susun ulang kolom
dim_doctor = dim_doctor[['doctor_dim_id', 'doctor_id', 'specialty']]

# Tampilkan hasil
dim_doctor.head()

   doctor_dim_id  doctor_id    specialty
0              1          1   Cardiology
1              2          2    Neurology
2              3          3  Orthopedics
3              4          4  Dermatology
4              5          5   Pediatrics

<h5>Buat fact_doctor_patient</h5>

In [58]:
# Normalize tanggal
appointments_split['appointment_date'] = pd.to_datetime(appointments_split['appointment_date']).dt.normalize()
dim_date_dokpas['full_date'] = pd.to_datetime(dim_date_dokpas['full_date']).dt.normalize()

# Merge date_id ke appointments
appointments_with_date = appointments_split.merge(
    dim_date_dokpas[['full_date', 'date_id']],
    left_on='appointment_date',
    right_on='full_date',
    how='left'
)

# Hitung total pasien per dokter per tanggal
fact_doctor_patient = appointments_with_date.groupby(['doctor_id', 'date_id']).agg(
    total_patients=('patient_id', 'count')
).reset_index()

# Gabungkan doctor_dim_id
fact_doctor_patient = fact_doctor_patient.merge(
    dim_doctor[['doctor_id', 'doctor_dim_id']],
    on='doctor_id',
    how='left'
)

# Tambahkan primary key
fact_doctor_patient['fact_id'] = range(1, len(fact_doctor_patient) + 1)

# Susun kolom
fact_doctor_patient = fact_doctor_patient[[
    'fact_id', 'doctor_dim_id', 'date_id', 'total_patients'
]]

fact_doctor_patient.head()

   fact_id  doctor_dim_id  date_id  total_patients
0        1              1        1              15
1        2              1        6              13
2        3              1       11              12
3        4              1       16              12
4        5              1       21              15

<h3>Data Mining</h3>

<h4>Klasifikasi Waktu Sibuk Rumah Sakit</h4>

<h5>Data Preparation</h5>

<h6>Ubah ke format datetime</h6>

In [58]:
appointments_split['appointment_date'] = pd.to_datetime(appointment['appointment_date'])
assignment_split['assignment_date'] = pd.to_datetime(assignment_split['assignment_date'])
assignment_split['end_date'] = pd.to_datetime(assignment_split['end_date'])

<h6>Hitung appointment perharinya</h6>

In [59]:
rssibuk_appointment = appointments_split.groupby(appointments_split['appointment_date'].dt.date).agg({
    'appointment_id': 'count'
}).reset_index().rename(columns={
    'appointment_date': 'date',
    'appointment_id': 'appointment_count'
})
rssibuk_appointment.head()

         date  appointment_count
0  2023-01-02                 76
1  2023-01-03                 72
2  2023-01-04                 79
3  2023-01-05                 73
4  2023-01-06                 68

<h6>Buat tanggal lengkap</h6>

In [60]:
all_dates = pd.date_range(
    appointments_split['appointment_date'].min().date(),
    appointments_split['appointment_date'].max().date(),
    freq='D'
).to_frame(index=False, name='date')
all_dates.head()

        date
0 2023-01-02
1 2023-01-03
2 2023-01-04
3 2023-01-05
4 2023-01-06

<h6>Semua jenis perawatan aktif perhari</h6>

In [61]:
def count_active_inpatients(date):
    date = date.date()
    return assignment_split[
        (assignment_split['assignment_date'].dt.date <= date) &
        ((assignment_split['end_date'].isna()) | (assignment_split['end_date'].dt.date >= date))
    ].shape[0]

all_dates['inpatient_count'] = all_dates['date'].apply(count_active_inpatients)
all_dates.head()

        date  inpatient_count
0 2023-01-02               76
1 2023-01-03               76
2 2023-01-04               83
3 2023-01-05               75
4 2023-01-06               73

<h6>Gabungkan dengan appointment</h6>

In [62]:
rssibuk_appointment['date'] = pd.to_datetime(rssibuk_appointment['date'])
all_dates['date'] = pd.to_datetime(all_dates['date'])

rssibuk_daily = all_dates.merge(rssibuk_appointment, on='date', how='left')
rssibuk_daily['appointment_count'] = rssibuk_daily['appointment_count'].fillna(0).astype(int)
rssibuk_daily.head()

        date  inpatient_count  appointment_count
0 2023-01-02               76                 76
1 2023-01-03               76                 72
2 2023-01-04               83                 79
3 2023-01-05               75                 73
4 2023-01-06               73                 68

<h6>Tambahkan fitur waktu</h6>

In [63]:
rssibuk_daily['day_of_week'] = rssibuk_daily['date'].dt.dayofweek
rssibuk_daily['month'] = rssibuk_daily['date'].dt.month
rssibuk_daily.head()

        date  inpatient_count  appointment_count  day_of_week  month
0 2023-01-02               76                 76            0      1
1 2023-01-03               76                 72            1      1
2 2023-01-04               83                 79            2      1
3 2023-01-05               75                 73            3      1
4 2023-01-06               73                 68            4      1

<h6>Labeling data</h6>

In [64]:
low_thresh = rssibuk_daily['appointment_count'].quantile(0.33)
high_thresh = rssibuk_daily['appointment_count'].quantile(0.66)

def label_busy(x):
    if x < low_thresh:
        return 'Low'
    elif x < high_thresh:
        return 'Normal'
    else:
        return 'Busy'

rssibuk_daily['busy_level'] = rssibuk_daily['appointment_count'].apply(label_busy)
rssibuk_daily.head()

,date,inpatient_count,appointment_count,day_of_week,month,busy_level
0,2023-01-02,76,76,0,1,Busy
1,2023-01-03,76,72,1,1,Normal
2,2023-01-04,83,79,2,1,Busy
3,2023-01-05,75,73,3,1,Normal
4,2023-01-06,73,68,4,1,Low

<h4>Klasifikasi Revisit Pasien</h4>

<h5>Data Preparation</h5>

<h6>Pilih kolom dari tabel appointment, patient dan medical record</h6>

In [66]:
# Pilih kolom penting dari setiap DataFrame
df_appointments = appointment[['appointment_id', 'patient_id', 'appointment_date']]
df_patients = patient[['patient_id', 'date_of_birth']]  # umur akan dihitung nanti
df_medical = medical_record[['appointment_id', 'diagnosis']]

<h6>Gabungkan dataframe</h6>

In [67]:
# Gabung appointments dan patients
df_revisit = pd.merge(df_appointments, df_patients, on='patient_id', how='left')

# Lalu gabung hasilnya dengan medical_records
df_revisit = pd.merge(df_revisit, df_medical, on='appointment_id', how='left')
df_revisit.head()

   appointment_id  patient_id appointment_date date_of_birth diagnosis
0               1          20       2023-01-02    2018-01-29     Pilek
1               2          39       2023-01-02    2010-11-15     Batuk
2               3          59       2023-01-02    2013-05-31     Pilek
3               4          68       2023-01-02    2019-04-10     Pilek
4               5          73       2023-01-02    2015-05-01     Pilek

<h6>Menghitung umur pasien</h6>

In [68]:
# Pastikan format tanggal
df_revisit['appointment_date'] = pd.to_datetime(df_revisit['appointment_date'])
df_revisit['date_of_birth'] = pd.to_datetime(df_revisit['date_of_birth'])

# Hitung umur saat appointment
df_revisit['age'] = df_revisit.apply(
    lambda row: (row['appointment_date'] - row['date_of_birth']).days // 365,
    axis=1
)
df_revisit.head()

   appointment_id  patient_id appointment_date date_of_birth diagnosis  age
0               1          20       2023-01-02    2018-01-29     Pilek    4
1               2          39       2023-01-02    2010-11-15     Batuk   12
2               3          59       2023-01-02    2013-05-31     Pilek    9
3               4          68       2023-01-02    2019-04-10     Pilek    3
4               5          73       2023-01-02    2015-05-01     Pilek    7

<h6>Hitung selisih hari ke kunjungan berikutnya</h6>

In [69]:
# Dapatkan tanggal appointment berikutnya untuk setiap pasien
df_revisit['next_appointment'] = df_revisit.groupby('patient_id')['appointment_date'].shift(-1)

# Hitung selisih hari ke kunjungan berikutnya
df_revisit['days_to_next'] = (df_revisit['next_appointment'] - df_revisit['appointment_date']).dt.days
df_revisit.head()

,appointment_id,patient_id,appointment_date,date_of_birth,diagnosis,age,next_appointment,days_to_next
0,1,20,2023-01-02,2018-01-29,Pilek,4,2023-07-03,182.0
1,2,39,2023-01-02,2010-11-15,Batuk,12,2023-07-03,182.0
2,3,59,2023-01-02,2013-05-31,Pilek,9,2023-07-03,182.0
3,4,68,2023-01-02,2019-04-10,Pilek,3,2023-07-03,182.0
4,5,73,2023-01-02,2015-05-01,Pilek,7,2023-07-03,182.0

<h6>Buat label : apakah ada appointment berikutnya dalam 150 hari?</h6>

In [70]:
# Buat kolom target: 1 jika datang lagi dalam ≤150 hari, 0 jika tidak
df_revisit['revisit'] = df_revisit['days_to_next'].apply(lambda x: 1 if pd.notnull(x) and x <= 150 else 0)
df_revisit.head()

,appointment_id,patient_id,appointment_date,date_of_birth,diagnosis,age,next_appointment,days_to_next,revisit
0,1,20,2023-01-02,2018-01-29,Pilek,4,2023-07-03,182.0,0
1,2,39,2023-01-02,2010-11-15,Batuk,12,2023-07-03,182.0,0
2,3,59,2023-01-02,2013-05-31,Pilek,9,2023-07-03,182.0,0
3,4,68,2023-01-02,2019-04-10,Pilek,3,2023-07-03,182.0,0
4,5,73,2023-01-02,2015-05-01,Pilek,7,2023-07-03,182.0,0

<h4>Klasifikasi Beban Kerja Dokter</h4>

<h5>Data Preparation</h5>

<h6>Ambil daftar dokter dan spesialisasinya</h6>

In [71]:
df_dokter = doctor[['doctor_id', 'specialty']]
df_dokter.head()

   doctor_id    specialty
0         11   Cardiology
1         12   Cardiology
2         13    Neurology
3         14    Neurology
4         15  Orthopedics

<h6>Ubah appointment date ke format datetime</h6>

In [72]:
appointments_split['appointment_date'] = pd.to_datetime(appointments_split['appointment_date'])

<h6>Hitung jumlah appointment dokter per hari</h6>

In [73]:
df_workload = appointments_split.groupby(['doctor_id', appointments_split['appointment_date'].dt.date]).size().reset_index(name='jumlah_pasien')
df_workload.head()

   doctor_id appointment_date  jumlah_pasien
0          1       2023-01-02             15
1          1       2023-01-09             13
2          1       2023-01-16             12
3          1       2023-01-23             12
4          1       2023-01-30             15

<h6>Ganti nama kolom ke tanggal</h6>

In [74]:
df_workload.rename(columns={'appointment_date': 'tanggal'}, inplace=True)
df_workload.head()

   doctor_id     tanggal  jumlah_pasien
0          1  2023-01-02             15
1          1  2023-01-09             13
2          1  2023-01-16             12
3          1  2023-01-23             12
4          1  2023-01-30             15

<h6>Labelin data jadi rendah, sedang dan tinggi</h6>

In [75]:
# Fungsi untuk mengkategorikan tingkat beban
def label_workload(jumlah_pasien):
    if jumlah_pasien <=10:
        return 'Rendah'
    elif jumlah_pasien <= 13:
        return 'Sedang'
    else:
        return 'Tinggi'

# Terapkan fungsi ke DataFrame
df_workload['workload_level'] = df_workload['jumlah_pasien'].apply(label_workload)

# Lihat hasil
df_workload.head()

   doctor_id     tanggal  jumlah_pasien workload_level
0          1  2023-01-02             15         Tinggi
1          1  2023-01-09             13         Sedang
2          1  2023-01-16             12         Sedang
3          1  2023-01-23             12         Sedang
4          1  2023-01-30             15         Tinggi

<h1>LOAD</h1>

<h2>Buat Database</h2>

In [110]:
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

# Koneksi ke database default "postgres"
conn = psycopg2.connect(
    dbname='postgres',
    user='postgres',
    password='1234567',
    host='localhost',  # atau IP servermu
    port='5432'
)
conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
cur = conn.cursor()

# Buat database baru
db_name = "dw_hospital_ms"
cur.execute(f"CREATE DATABASE {db_name};")
print("✅ Database berhasil dibuat!")

cur.close()
conn.close()

✅ Database berhasil dibuat!

In [111]:
engine_dwh = create_engine('postgresql://postgres:1234567@localhost:5432/dw_hospital_ms')

<h2>BI</h2>

<h3>Pertanyaan 1 : Asuransi Apa yang Paling Banyak Digunakan Oleh Pasien?</h3>

<h4>Buat table nya di postgre</h4>

In [120]:
from sqlalchemy import create_engine, Column, Integer, String, Boolean, Date, ForeignKey
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import relationship, sessionmaker

# Buat koneksi
engine_dwh = create_engine('postgresql://postgres:1234567@localhost:5432/dw_hospital_ms')
Base = declarative_base()

# Tabel Dim Date
class DimDate(Base):
    __tablename__ = 'dim_date'
    date_id = Column(Integer, primary_key=True)
    payment_date = Column(Date)
    payment_month = Column(Integer)
    payment_year = Column(Integer)

# Tabel Dim Bill
class DimBill(Base):
    __tablename__ = 'dim_bill'
    bill_id = Column(String, primary_key=True)
    insurance_provider = Column(String)
    paid_late = Column(Boolean)

# Tabel Fact Billing
class FactBilling(Base):
    __tablename__ = 'fact_billing'
    fact_id = Column(Integer, primary_key=True)
    date_id = Column(Integer, ForeignKey('dim_date.date_id'))
    bill_id = Column(String, ForeignKey('dim_bill.bill_id'))

    # Opsional: relasi (biar bisa join otomatis kalau pakai ORM)
    date = relationship('DimDate')
    bill = relationship('DimBill')

In [121]:
Base.metadata.create_all(engine_dwh)

<h4>Masukin datanya</h4>

In [122]:
# Insert data ke masing-masing tabel
engine_dwh = create_engine('postgresql://postgres:1234567@localhost:5432/dw_hospital_ms')
dim_date.to_sql('dim_date', con=engine_dwh, if_exists='append', index=False)
dim_bill.to_sql('dim_bill', con=engine_dwh, if_exists='append', index=False)
fact_billing.to_sql('fact_billing', con=engine_dwh, if_exists='append', index=False)

116

<h3>Pertanyaan 2 : Obat Apa yang Perlu Direstock?</h3>

<h4>Buat tabel nya di postgre</h4>

In [123]:
from sqlalchemy import Column, String, Float, Integer, ForeignKey, create_engine

Base = declarative_base()

class DimMedicine(Base):
    __tablename__ = 'dim_medicine'
    medicine_id = Column(String, primary_key=True)
    name = Column(String)
    dosage_value = Column(Float)
    dosage_unit = Column(String)
    type = Column(String)

class FactStock(Base):
    __tablename__ = 'fact_stock'
    fact_id = Column(Integer, primary_key=True)
    medicine_id = Column(String, ForeignKey('dim_medicine.medicine_id'))
    remaining_quantity = Column(Float)

    # Opsional relasi
    medicine = relationship('DimMedicine')

# Buat engine dan tabel
engine_dwh = create_engine('postgresql://postgres:1234567@localhost:5432/dw_hospital_ms')
Base.metadata.create_all(engine_dwh)

<h4>Masukin datanya</h4>

In [124]:
# Insert data ke masing-masing tabel
dim_medicine.to_sql('dim_medicine', con=engine_dwh, if_exists='append', index=False)
fact_stock.to_sql('fact_stock', con=engine_dwh, if_exists='append', index=False)

44

<h3>Pertanyaan 3 : Jenis Kamar Apa yang Paling Sering Digunakan?</h3>

<h4>Buat tabelnya di postgre</h4>

In [125]:
from sqlalchemy import create_engine, Column, Integer, String, Date, ForeignKey
from sqlalchemy.orm import declarative_base, relationship

Base = declarative_base()

class DimRoom(Base):
    __tablename__ = 'dim_room'
    room_id = Column(Integer, primary_key=True)
    room_type_id = Column(Integer)
    room_class = Column(String)

class DimDateRoom(Base):
    __tablename__ = 'dim_date_room'
    date_id = Column(String, primary_key=True)
    assignment_date = Column(Date)
    assignment_month = Column(Integer)
    assignment_year = Column(Integer)

class FactRoomUsage(Base):
    __tablename__ = 'fact_room_usage'
    fact_id = Column(Integer, primary_key=True)
    room_id = Column(Integer, ForeignKey('dim_room.room_id'))
    date_id = Column(String, ForeignKey('dim_date_room.date_id'))
    usage_count = Column(Integer)
    length_of_stay_total = Column(Integer)

    # Optional: definisikan relasi ORM
    room = relationship('DimRoom')
    date = relationship('DimDateRoom')
    
engine_dwh = create_engine('postgresql://postgres:1234567@localhost:5432/dw_hospital_ms')
Base.metadata.create_all(engine_dwh)

<h4>Masukin datanya</h4>

In [126]:
dim_room.to_sql('dim_room',con=engine_dwh, if_exists='append', index=False)
dim_date_room.to_sql('dim_date_room', con=engine_dwh, if_exists='append', index=False)
fact_room_usage.to_sql('fact_room_usage', con=engine_dwh, if_exists='append', index=False)

100

<h3>Pertanyaan 4 : Bagaimana Tren Penggunaan Layanan Ambulan?</h3>

<h4>Buat tabelnya di postgre</h4>

In [151]:
from sqlalchemy import Column, Integer, String, Numeric, Boolean, ForeignKey, DateTime
from sqlalchemy.orm import declarative_base

Base = declarative_base()

class DimDateAmbulan(Base):
    __tablename__ = 'dim_date_ambulan'
    date_id = Column(Integer, primary_key=True)
    full_date = Column(DateTime)
    month = Column(Integer)
    year = Column(Integer)

class DimAmbulance(Base):
    __tablename__ = 'dim_ambulance'
    ambulance_id = Column(Integer, primary_key=True)
    ambulance_number = Column(String)
    availability = Column(String)

class FactAmbulanceUsage(Base):
    __tablename__ = 'fact_ambulance_usage'
    fact_id = Column(Integer, primary_key=True)
    ambulance_id = Column(Integer, ForeignKey('dim_ambulance.ambulance_id'))
    date_id = Column(Integer, ForeignKey('dim_date_ambulan.date_id'))
    journey_duration_minutes = Column(Numeric)

    # Opsional relasi
    date = relationship('DimDateAmbulan')
    ambulance = relationship ('DimAmbulance')

engine_dwh = create_engine('postgresql://postgres:1234567@localhost:5432/dw_hospital_ms')
Base.metadata.create_all(engine_dwh)

<h4>Masukin datanya</h4>

In [152]:
dim_date_ambulan.to_sql('dim_date_ambulan', con=engine_dwh, if_exists='append', index=False)
dim_ambulance.to_sql('dim_ambulance', con=engine_dwh, if_exists='append', index=False)
fact_ambulance_usage.to_sql('fact_ambulance_usage', con=engine_dwh, if_exists='append', index=False)

500

<h3>Pertanyaan 5 : Berapa Estimasi Penyakit yang Akan Datang Pada Bulan Depan?</h3>

<h4>Buat tabelnya di postgre</h4>

In [129]:
from sqlalchemy import Column, Integer, String, Text, Date, ForeignKey, create_engine
from sqlalchemy.orm import declarative_base, relationship

Base = declarative_base()

# DIMENSIONS
class DimDateDokpas(Base):
    __tablename__ = 'dim_date_dokpas'
    date_id = Column(Integer, primary_key=True)  # YYYYMMDD
    full_date = Column(Date)
    month = Column(Integer)
    year = Column(Integer)

class DimDoctor(Base):
    __tablename__ = 'dim_doctor'
    doctor_dim_id = Column(Integer, primary_key=True)
    doctor_id = Column(Integer, unique=True)
    specialty = Column(String) 

# FACTS
class FactDiagnosis(Base):
    __tablename__ = 'fact_diagnosis'
    fact_id = Column(Integer, primary_key=True)
    date_id = Column(Integer, ForeignKey('dim_date_dokpas.date_id'))
    diagnosis = Column(Text)
    diagnosis_count = Column(Integer)

    date = relationship('DimDateDokpas')

class FactDoctorPatient(Base):
    __tablename__ = 'fact_doctor_patient'
    fact_id = Column(Integer, primary_key=True)
    doctor_dim_id = Column(Integer, ForeignKey('dim_doctor.doctor_dim_id'))
    date_id = Column(Integer, ForeignKey('dim_date_dokpas.date_id'))
    total_patients = Column(Integer)

    date = relationship('DimDateDokpas')
    doctor = relationship('DimDoctor')

# ENGINE & CREATE
engine_dwh = create_engine('postgresql://postgres:1234567@localhost:5432/dw_hospital_ms')
Base.metadata.create_all(engine_dwh)

<h4>Masukin datanya</h4>

In [130]:
from sqlalchemy import create_engine
# Buat koneksi ke database PostgreSQL 
engine_dwh = create_engine('postgresql://postgres:1234567@localhost:5432/dw_hospital_ms')

In [131]:
dim_date_dokpas.to_sql('dim_date_dokpas',con=engine_dwh, index=False, if_exists='append')
fact_diagnosis.to_sql('fact_diagnosis', con=engine_dwh, index=False, if_exists='append')

538

<h3>Pertanyaan 6 : Hubungan Antara Dokter dan Jumlah Rata-Rata Pasien</h3>

<h4>Masukin datanya</h4>

In [133]:
dim_doctor.to_sql('dim_doctor',con=engine_dwh, index=False, if_exists='append')
fact_doctor_patient.to_sql('fact_doctor_patient',con=engine_dwh, index=False, if_exists='append')

132

<h2>Data Mining</h2>

<h3>Klasifikasi Waktu Sibuk Rumah Sakit</h3>

In [65]:
from sqlalchemy import create_engine
# Buat koneksi ke database PostgreSQL 
engine_dwh = create_engine('postgresql://postgres:1234567@localhost:5432/dw_hospital_ms')

In [66]:
rssibuk_daily.to_sql('rssibuk_daily', con=engine_dwh, index=False, if_exists='replace')

730

<h3>Klasifikasi Revisit Pasien</h3>

In [136]:
from sqlalchemy import create_engine
# Buat koneksi ke database PostgreSQL 
engine_dwh = create_engine('postgresql://postgres:1234567@localhost:5432/dw_hospital_ms')

In [137]:
df_revisit.to_sql('df_revisit', con=engine_dwh, index=False, if_exists='replace')

116